:root {
	--fallback__huddle-footer-height: 5rem;
	--fallback__huddle-footer-bg: transparent;
  --fallback__huddle-footer-fg: rgba(255,255,255, .75);
}

.huddle-chat {
	$huddle-chat: &;

	&__footer {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 8px 24px;
		background: var(--huddle-footer-bg, var(--fallback__huddle-footer-bg));
		color: var(--huddle-footer-fg, var(--fallback__huddle-footer-fg));
		min-height: var(--huddle-footer-height, var(--fallback__huddle-footer-height));
		z-index: 999; // so this appears behind dropdowns

		&-left,
		&-media {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;

			#{$huddle-chat}__button-wrapper {
				margin-right: .5rem;

				&:last-child {
					margin-right: 0;
				}
			}

		}

		&-leave {

			.dropdown-toggle {
				border-radius: 50%;
				width: 3rem;
				height: 3rem;

				&::before {
					content: "Leave";
					position: absolute;
					bottom: -21px;
					font-size: 11px;
					color: var(--huddle-footer-fg, var(--fallback__huddle-footer-fg));
					width: 5rem;
					left: 50%;
					margin-left: -2.5rem;
				}
			}

			.dropdown__label i {
				margin: 0;
			}

			.dropdown__arrow {
				display: none;
			}

			.dropdown-menu {
				transform: translate(calc(2rem - 50%), -.75rem);

				> li > .btn {
					text-align: center;
					padding: 0;
				}

				.alert {
					margin: 0;
					text-align: left;
					font-size: 14px;
					color: inherit;
				    background: transparent;
					border: transparent;
					transition: all .3s ease;

					&:hover {
						$danger: map-get($theme-colors, "danger");
						$alert-background: shift-color($danger, $alert-bg-scale);
						$alert-border: shift-color($danger, $alert-border-scale);
						$alert-color: shift-color($danger, $alert-color-scale);
						
						@if (contrast-ratio($alert-background, $alert-color) < $min-contrast-ratio) {
							$alert-color: mix($danger, color-contrast($alert-background), abs($alert-color-scale));
						}
						
						color: $alert-color;
						background-color: $alert-background;
						border-color: $alert-border;
					}
				}
			}

		}

		&--firefox,
		&--safari {
			display: none;
		}
	}

	&__button-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 11px;
		gap: 4px;
		width: 4.75rem;
	}

    &__button {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        border-width: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

	&__button-label {
		text-align: center;
	}

	&__button--hangup {
		margin: 0 .5rem;
	}

}

.record-confirm-modal,
.screenshare-cancelled-modal {

	.modal-body {

		ul > li {
			margin-block-end: 1rem;
		}

		footer {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: .5rem;

			.btn {
				min-width: 100px;
			}
		}

	}

	.modal-footer {
		display: none;
	}

}

.screenshare-cancelled-modal {

	.safari-preferences {
		display: block;
		width: calc(295px / 1.5);
	}

	.safari-websites {
		display: block;
		width: calc(791px / 1.5);
	}

}

html.no-flexgap {

	.huddle-chat {
		$huddle-chat: &;

		&__button-wrapper {

			#{$huddle-chat}__button-label {
				margin-block-start: .25rem;
			}
		}
	}

	.record-confirm-modal,
	.screenshare-cancelled-modal {

		.modal-body .footer .btn {
			margin-inline-end: .5rem;

			&:last-child {
				margin-inline-end: 0;
			}
		}

	}

}

@media (max-width: 700px) {

	.huddle-chat {

		&__footer {
			padding: 8px 16px;
		}

		&__button-wrapper {
			width: 3.75rem;
		}

		&__button {
			width: 2.5rem;
			height: 2.5rem;
		}

	}

}

@keyframes pulse-primary {
    0% {
        box-shadow: 0 0 0 0 var(--primary);
    }

    70% {
        box-shadow: 0 0 0 10px var(--primary-shadow);
    }

    100% {
        box-shadow: 0 0 0 0 var(--primary);
    }
}

@keyframes pulse-secondary {
    0% {
        box-shadow: 0 0 0 0 var(--secondary);
    }

    70% {
        box-shadow: 0 0 0 10px var(--secondary-shadow);
    }

    100% {
        box-shadow: 0 0 0 0 var(--secondary);
    }
}

@keyframes pulse-success {
    0% {
        box-shadow: 0 0 0 0 var(--success);
    }

    70% {
        box-shadow: 0 0 0 10px var(--success-shadow);
    }

    100% {
        box-shadow: 0 0 0 0 var(--success);
    }
}

@keyframes pulse-danger {
    0% {
        box-shadow: 0 0 0 0 var(--danger);
    }

    70% {
        box-shadow: 0 0 0 10px var(--danger-shadow);
    }

    100% {
        box-shadow: 0 0 0 0 var(--danger);
    }
}

.btn.btn-pulse {

    &.btn-primary,
	&.btn-outline-primary {
        animation: pulse-primary 2s infinite;
    }

    &.btn-secondary,
	&.btn-outline-secondary {
        animation: pulse-secondary 2s infinite;
    }

    &.btn-success,
	&.btn-outline-success {
        animation: pulse-secondary 2s infinite;
    }

    &.btn-danger,
	&.btn-outline-danger {
        animation: pulse-danger 2s infinite;
    }
}

@include mq_firefox {

	.huddle-chat__footer {

		&--firefox {
			display: block;
		}

	}
}

@include mq_safari {

	.huddle-chat__footer {

		&--safari {
			display: block;
		}

	}
}
