$product_quantity_btn_size: 40px;

.product-quantity {
    width: 150px;
    height: $product_quantity_btn_size;
    display: flex;
    align-items: center;
    margin-block-start: 1rem;
    user-select: none;

    &__toggle {
        width: 100%;
        height: 100%;
    }

    &__remove,
    &__add {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $product_quantity_btn_size;
        height: 100%;

        > span {
            font-size: 1.5em;
            line-height: 0;
        }

    }

    &__value {
        flex: 1;
        text-align: center;
    }
}
