$graph_anchor_size: 12px;
$graph_anchor_offset: 9px;
$graph_anchor_mid_offset: 6px;

// assumes light mode by default
.graph-editor {
	background: #fff;
	height: 80vh;
	position: relative;
	padding: 1.25rem;
	
	&__ui {
		position: absolute;
		top: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		height: var(--graph-editor-ui-height);

		.graph-ui-btn {
			margin: 0 5px;
		}

		.zoom-widget {
			display: flex;
			align-items: center;
			padding-right: 16px;
			border-right: 1px solid #A9ACA8;
			margin-right: 16px;

			.btn {
				color: inherit;
			}
		}

		.zoom-level {
			margin: 0 16px;
			font-size: 14px;
			min-width: 32px;
			text-align: center;
		}

	}

	.map-controls {
		position: absolute;
		display: inline-block;
		left: 10px;
		bottom: 10px;
		background: white;
		border-radius: 0.5rem;
		padding: 0.5rem;
	}
	
	.map-intro {
		position: absolute;
		display: inline-block;
		left: 10px;
		top: 10px;
		background: white;
		border-radius: 0.5rem;
		padding: 0.5rem;
	}
	
	.entry.node {
		min-width: 256px;
		box-shadow: 0 0 1rem 0.5rem rgb(0 0 0 / 25%);

		.entry-header {

			&__name {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			&__controls {
				flex: 0 0 auto;
				display: flex;
				gap: .25rem;

				.btn {
					padding: .125rem .25rem;
					border-radius: .2rem;
					border-color: currentColor;
				    color: currentColor;

					&:hover {
						color: #fff;
						border-color: transparent;
					}
				}
			}

		}
	
		.entry-dragbar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			cursor:move;
			padding: 0.5rem;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}
		
		.node-delete {
			cursor: pointer;
			color: red;
			margin-left: 0.5rem;
		}
		
		.entry-content {
			padding: 0.5rem;
			position: relative;

			.form-label, 
			.form-control, 
			.form-select,
			.form-check-label {
				font-size: .75rem;
			}

			&__name {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				font-weight: bold;
			}
			
			&__field {
			    display: flex;
				align-items: center;
				position: relative;
				border-top: 1px solid rgba(0,0,0,.1);
				font-size: .75rem;
				padding: .125rem 0;

				&:first-child {
					border-top: 0;
				}

				&--vertical {
					flex-direction: column;
					align-items: flex-start;

					+ .entry-content__field {
						border-top: 0;
					}

					> .mb-3 {
						width: 100%;
					}
				}

				&__input {
					padding-left: .5rem;
					display: flex;
					align-items: center;
				    justify-content: space-between;

					&--vertical {
						flex-direction: column;
						align-items: flex-start;

						> .mb-3 {
							width: 100%;
							margin-bottom: 0 !important;

							.form-label {
								margin: .5rem 0 .25rem 0;
							}
						}

						.type-icon[title="checkbox"] + .mb-3 {
							margin: .5rem 0 !important;

							.form-check:not(.form-switch) {
								padding-left: 1.87rem;
								margin-bottom: 0;

								.form-check-input {
									margin-left: -1.875rem;
									width: 1.25rem;
									height: 1.25rem;
									margin-top: 0;
								}

								.form-check-label {
									font-weight: bold;
								}
							}
						}

					}
	
					.type-icon {
						left: -28px;
					}

					.btn-sm {
						padding: .125rem .25rem;
						border-radius: .2rem;
					}

				}
				
				&__output {
					.type-icon {
						right: -28px;
					}
				}

				.form-label {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-weight: bold;

					+ .form-control,
					+ .form-select {
// uncomment to auto-hide empty fields until focussed
/*
						&:not(:focus) {
							height: 0;
							padding: 0;
							border-width: 0;
						}

						&.form-control[value]:not([value=""]) {
							height: auto;
							padding: 0.375rem 0.75rem;
							border-width: 1px;
						}
*/
					}

				}
			}
		}
		
		.type-icon {
			position: absolute;
			
			&:hover {
				cursor: pointer;
			}

			&--bottom {
				bottom: -11px;
			}
		}
	}
	
	.entry {
		touch-action: none;
		display: inline-block;
		cursor: default;
		position: absolute;
		// NB: uncommenting this and the transform: translate(-50%,-50%) below fixes the "image creep when resizing" bug,
		// but at the cost of all images appearing offset NW of their original positions
		//transform-origin: top left;
		user-select: none;
		background: white;
	}
	
	.module-select-modal, .module-link-selection-modal{
		.module-group{
			margin-bottom: 10px;
		}
	
		.module-tile{
			border: 1px solid lightgrey;
			border-radius: 4px;
			text-align: center;
			padding: 20px;
			margin-bottom: 10px;
			
			&:hover{
				cursor:pointer;
			}
		}
	}

	.confirm-delete-modal, .cant-delete-modal {

		&__footer {
			display: flex;
			justify-content: flex-end;
			gap: 0.5rem;
		}

		.modal-footer {
			display: none;
		}

	}

	.uploader--compact {
        
        .uploader__internal,
        .uploader__label,
		.uploader__caption {
            width: 100%;
        }

		+ .file-selector__options .file-selector__select.dropdown > .btn {
			font-size: .75rem;
			padding: 0.25rem 0.5rem;
		}
	}
}

.map-interaction {

	> div {
		border: 1px solid #eee;
	}

	.graph-editor__ui {
		border-top: 1px solid rgb(0,0,0,.15);
		box-shadow: 0 2px 4px 4px rgb(0 0 0 / 10%);
	}

}

// triggered by system settings
@media (prefers-color-scheme: light) {
	.graph-editor {
		background: #fff;
		color: #222;

		.entry {
			background: #fff;
		}
	}

	.map-interaction {
		> div {
			border-color: #eee;
		}
	}

}

@media (prefers-color-scheme: dark) {
	.graph-editor {
		background: #222;
		color: #fff;

		.entry {
			background: #505050;
		}
	}

	.map-interaction {
		> div {
			border-color: #222;
		}
	}

}

// triggered by selecting mode via UI
html[data-theme-variant="light"] {
	.graph-editor {
		background: #fff;
		color: #222;

		.entry {
			background: #fff;
		}
	}

	.map-interaction {
		> div {
			border-color: #eee;
		}
	}

}

html[data-theme-variant="dark"] {
	.graph-editor {
		background: #222;
		color: #fff;

		.entry {
			background: #505050;
		}
	}

	.map-interaction {
		> div {
			border-color: #222;
		}
	}

}
