$map_header: 40px;

.map-interaction {
    margin-top: $map_header;
    height: calc(100% - #{$map_header});
    width: 100%;
    position: relative; // for absolutely positioned children
    touch-action: none;
	
    &--empty > div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    > div {
        border: 1.5px solid #EADBD2;
    }

    .graph-editor__ui {
        top: -$map_header;
    }

    &__hero {
        max-width: 400px;
		margin: 1rem;
		text-align: center;
    }

    &__heading {
		font-size: 30px;
		line-height: 42px;
		margin-bottom: 24px;
	
		a {
			color: inherit;
		}
    }

    &__instructions {
		font-size: 16px;
		line-height: 22px;
		margin: 0 40px;
    }
}
