.sitemap {

	&__clone-modal-footer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: .5rem;
	}

}

.sitemap-expander {
	color: inherit;

	.collapsible {

		&-summary {
			color: inherit;
			border-left: 0;
			border-right: 0;
			border-color: var(--admin-page__subheader-background, #E0E4F5);
		}

		&-content,
		&__content {
			border: 0;
		}

	}

	&:hover {

		> .collapsible-summary {
			background: var(--admin-hover-bg, #fff);
			color: var(--admin-hover-fg, #000);
		}

	}

	&[open] + .sitemap-expander > .collapsible-summary {
		border-top: 1px solid var(--admin-page__subheader-background, #E0E4F5);
	}

	&--prefers-logged-in {
		margin-inline-end: .5rem;
		color: var(--primary);
	}
}