.content-select {

	&__search {

		> .ui-form-control {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: 0;
		}

	}
	
	.selected-content {
		padding: px_to_rem(10) px_to_rem(10) px_to_rem(10) calc(1rem*var(--field-padding)/16);
		margin: 0 0 px_to_rem(10) 0;
		background: var(--admin-page__subheader-background, #E0E4F5);
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
		border-bottom-left-radius: calc(1rem*var(--field-border-radius)/16);
		border-bottom-right-radius: calc(1rem*var(--field-border-radius)/16);
		border: var(--field-border);

		&__value {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			gap: 1rem;

			> span {
				font-size: px_to_rem(15);
			}
		}

		&--none {
			font-size: px_to_rem(15);
			font-style: italic;
		}
	}

	&__footer {
		max-width: $admin-field-maxwidth;
		min-width: $admin-field-minwidth;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: .5rem;
		margin: .5rem 0 1rem 0;

		.btn {
			min-width: 4.5rem;
		}

		.btn-visit-content {
			margin-inline-start: auto;
		}
	}

	.modal {

		.modal-body {
			padding: 0;
			overflow: hidden;
			height: 80vh;

			.admin-page {
				height: 100% !important;

				&__subheader {
					display: none;
				}

				&__content {
					height: 100%;

					.admin-multiselect {
						// TODO: disable nested multiselects?
						// (otherwise we run the risk of nested modals)
					}
				}

				&__feedback {
					display: none !important;
				}

				&__footer {
					background: transparent;
				}

			}

		}

		.modal-footer {
			display: none;
		}

	}
}