.pages-login{
	
	> div > .admin-main-area{
		background: #2A3F54;
	}
	
	> div > div > .center-box{
		position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        transform: translateX(-50%) translateY(-50%);
    }
    
	
}