.huddle-chat {
	$huddle-chat: &;

	&__audience {

		#{$huddle-chat}__sidebar-footer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: .5rem;
		}

		&-prev,
		&-next {

			svg {
				width: 16px;
				height: 16px;
			}

		}

		&-page {
			font-size: 14px;
			user-select: none;
		}

		#{$huddle-chat}__user {

			&-host {
				font-size: .75em;
			}

		}
	}

}
