:root {
    --fallback__huddle-pinned-bg: #ccc;
    --fallback__huddle-pinned-user-bg: #444;
    --fallback__huddle-pinned-user-fg: #fff;
}

.huddle-chat {
	$huddle-chat: &;

	&__pinned {
		grid-area: pinned;
		list-style: none;
		padding: 1px 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 1px;
		justify-content: center;
		background: var(--huddle-pinned-bg, var(--fallback__huddle-pinned-bg));

		#{$huddle-chat}__user {
			aspect-ratio: 16/9;
		    background: var(--huddle-pinned-user-bg, var(--fallback__huddle-pinned-user-bg));
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--huddle-pinned-user-fg, var(--fallback__huddle-pinned-user-fg));
			width: 159px;
		}
	}

}

@media (orientation: portrait) {

	.huddle-chat {
		$huddle-chat: &;

		&__pinned {

			#{$huddle-chat}__user {
				width: calc((100vw / 5) - 1px);
			}

		}

	}
}
