/*
	Optional stylesheet
*/

.custom-field-select-form {
	.custom-field-select-form--option {
		height: 40px;

		.option-order {
			float: right;
			margin-right: 1rem;
		}

		.option-buttons {
			float: right;

			.option-delete {
				margin-left: 8px;
			}
		}
	}
}