:root {
	--richeditor-buttonbar-top: -2rem;
}

.RichEditor-buttonbar {
	position: absolute;
	top: var(--richeditor-buttonbar-top);
	z-index: 2147483647;
	//opacity: 0;
	display: none;
	border-radius: 4px;
	padding: 4px 6px;
	position: fixed;
	box-shadow: rgb(0 0 0 / 30%) 0 0 10px 3px;
	background: #fff;
	color: #222;
	font-size: 14px;
	font-family: Nunito, sans-serif;
}

/*

.DraftEditor-root:focus-within+.RichEditor-buttonbar {
	opacity:1;
}

.RichEditor-editor {
  cursor: text;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 1rem;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}
*/

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}
