/Content/*
/signatureService.key
/Api.xml
/SocialStack.Api.xml
/.vs
/bin
/obj
/.idea
/Api.csproj.user
/Admin/public/en-admin/pack
/UI/public/pack
/Api/build
/Email/public/pack
/Database/*/index.json
/Logs
/node_modules
/package-lock.json
TypeScript/tsconfig.generated.json
/Tests/bin
/Tests/obj
/Database/**
!/Database/scripts/
!/Database/scripts/**
/Database/scripts/node_modules
/Database/scripts/package.json
/Database/scripts/package-lock.json