.auto-form{
	.is-draft{
		color: red;
	}
	
	.localized-field-label, .hint-field-label{
		color: #ddd;
		margin-left: 5px;
	}
	
	.createDraft{
		margin-left: 10px;
	}

	// #9960: hacks to get save / delete options docked to bottom of screen
	.auto-form-footer {
	    padding: 1rem;
		position: fixed;
		bottom: -1rem;
		right: 4rem;
		left: 0;
		background: #fff;
		box-shadow: 0 -3px 5px rgba(0,0,0,.1);
		z-index: 1;
	}

	.auto-form-create-options {
		position: fixed;
		bottom: 0;
		padding: 1rem;
		margin-left: -1rem;
		z-index: 2;
	}
}