.auto-form{
	.is-draft{
		color: red;
	}
	
	.localized-field-label, .hint-field-label{
		color: #ddd;
		margin-left: 5px;
	}
	
	.createDraft{
		margin-left: 10px;
	}
	
	.auto-form-header {
		position: sticky;
		top: 0;
		z-index: 999;
	}
	
	.rich-editor .rte-toolbar {
		top: 88px;
	}
}