.collapsible {

	.collapsible-summary {
		list-style: none;
		display: flex;
		align-items: center;
		padding: 2rem 1.5rem;
		border: 1px solid rgb(240,240,240);

		&::-webkit-details-marker {
			display: none;
		}

		.collapsible-title {
			@include font_size(20);
			font-weight: bold;
			margin: 0;
		}

		.collapsible-icon {
			margin-left: auto;
			transition: transform .3s ease-in-out;
		}
	}

	&:not([open]) > .collapsible-content {
		display: none;
	}

	&[open] > .collapsible-summary {
		border-bottom: 0;

		.collapsible-icon {
			-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
			transform: rotate(180deg);
		}
	}

	.collapsible-content {
		@include font_size(16);
		border: 1px solid rgb(240,240,240);
		border-top: 0;
		margin-bottom: 1rem;
		padding: 1.5rem;
	}
}
