.cookie-consent{
	position: fixed;
	bottom: 0;
	width: 100%;
	right: 0;
	background: white;
	padding: 10px;
	color: black;
	z-index: 2000;
	box-shadow: 0 1px 14px 6px rgb(0,0,0,.15);
	
	.necessary-only{
		margin-right: 10px;
	}
}