.file-selector{
	.image-select-modal{
		.image{
			margin: 10px;
		}
	}

	.image {
		i {
			font-size: 32px;
		}
	}

	.delete-file-btn{
		margin-left: 10px;
	}
	
	.file-selector-btn-group {

		.radio{
			display: contents;
		}
	}
}