html, body, #react-view, #react-root, #content-root, #content-page, #react-loading {
	height: 100%;
	width: 100%;
	margin: 0;
	touch-action: manipulation;
}

html {
	overflow-x: hidden;
	font-family: $regular_font_family !important;
	font-weight: $regular_font_weight !important;

	body, #react-view, #react-root, #content-root, #content-page, #react-loading {
		font-family: $regular_font_family;
		font-weight: $regular_font_weight;
	}

	body {
		background-color: $site_bg;
	}

	// Identify a frontend (mobile app build too):
	&.ui {
	}
	// Identify a mobile app build:
	&.mobile {
	}
	// Identify a frontend but not the app build:
	&.web {
	}
	// Identify the admin panel:
	&.admin {
	}
	// define rules which shouldn't be applied for admin views
	&:not(.admin) {
	}
}

.loader {
	position: absolute;
	display: inline-block;
	//border: 6px solid lightgrey;
	border: 4px solid #eeeeee;
	border-radius: 50%;
	//border-top: 6px solid white;
	border-top: 4px solid white;
	//width: 40px;
	//height: 40px;
	width: 60px;
	height: 60px;
	margin-left: -30px;
	margin-top: -30px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

#react-loading {
	position: absolute;
	top: 0;
	//background: white !important;
}

#react-loading-message {
	color: white;
	text-align: center;
	font-size: 2em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
