/*
	global button styles
    NB: named global-buttons.35.scss to allow for project-specific overrides to these styles (see UI/Source/GeneralStyle/buttons.40.scss)
*/

@mixin base_button_styling() {
    @include button_styling; // NB: includes focus styling
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &[disabled] {
        opacity: .5;
        cursor: not-allowed;
    }

    &:hover {
        text-decoration: none;
    }
}

@mixin primary_button_styling() {
    background-color: $theme_primary_btn_bg;
    color: $theme_primary_btn_fg;
    border: $theme_primary_btn_border;
    border-radius: $theme_primary_btn_border_radius;
    font-size: $theme_primary_btn_font_size;
    font-weight: $theme_primary_btn_font_weight;
    padding: $theme_primary_btn_padding;
    
    &:hover {
        background-color: $theme_primary_btn_hover_bg;
        color: $theme_primary_btn_hover_fg;
        border: $theme_primary_btn_hover_border;
    }

    &:active {
        background-color: $theme_primary_btn_active_bg;
        color: $theme_primary_btn_active_fg;
        border: $theme_primary_btn_active_border;
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($theme_primary_btn_bg, .5);
    }
}

@mixin secondary_button_styling() {
    background-color: $theme_secondary_btn_bg;
    color: $theme_secondary_btn_fg;
    border: $theme_secondary_btn_border;
    border-radius: $theme_secondary_btn_border_radius;
    font-size: $theme_secondary_btn_font_size;
    font-weight: $theme_secondary_btn_font_weight;
    padding: $theme_secondary_btn_padding;

    &:hover {
        background-color: $theme_secondary_btn_hover_bg;
        color: $theme_secondary_btn_hover_fg;
        border: $theme_secondary_btn_hover_border;
    }

    &:active {
        background-color: $theme_secondary_btn_active_bg;
        color: $theme_secondary_btn_active_fg;
        border: $theme_secondary_btn_active_border;
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($theme_secondary_btn_bg, .5);
    }
}

// Bootstrap overrides
.btn {
    @include base_button_styling();

    &.btn-primary {
        @include primary_button_styling();
    }

    &.btn-secondary {
        @include secondary_button_styling();
    }

    &.btn-success {
        background-color: $theme_success_bg;
        color: $theme_success_fg;
        border: 0;

        &:hover {
            background-color: darken($theme_success_bg, 5%);
            color: darken($theme_success_fg, 5%);
            border: 0;
        }

        &:active {
            background-color: darken($theme_success_bg, 10%);
            color: darken($theme_success_fg, 10%);
            border: 0;
        }

        &:focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba($theme_success_bg, .5);
        }
    }

    &.btn-danger {
        background-color: $theme_danger_bg;
        color: $theme_danger_fg;
        border: 0;

        &:hover {
            background-color: darken($theme_danger_bg, 5%);
            color: darken($theme_danger_fg, 5%);
            border: 0;
        }

        &:active {
            background-color: darken($theme_danger_bg, 10%);
            color: darken($theme_danger_fg, 10%);
            border: 0;
        }

        &:focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba($theme_danger_bg, .5);
        }
    }

    &.btn-warning {
    }

    &.btn-info {
    }

    &.btn-light {
    }

    &.btn-dark {
    }
}

input {
    // form buttons
    &[type='button'],
    &[type='submit'] {
        @include primary_button_styling();
    }

    &[type='reset'] {
        @include secondary_button_styling();
    }
    // file upload
    // NB: for this to work, the file input must have a following label, e.g.
    // <input type="file" name="file" id="file" />
    // <label for="file">Choose a file</label>
    // ref http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
    &[type='file'][id] {
        // NB: not 0 as this can affect tab order on some browsers
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        + label {
            @include base_button_styling();
            //@include primary_button_styling();
            @include secondary_button_styling();
            display: inline-block; // necessary to prevent optional hidden form labels from hiding this
        }

        &:focus + label {
            //@include focus_styling;
            cursor: pointer;
            //pointer-events: none;
            //box-shadow: 0 0 0 0.2rem rgba($theme_primary_btn_bg, .5);
            box-shadow: 0 0 0 0.2rem rgba($theme_secondary_btn_bg, .5);
        }

        ~ .upload-limit {
            @include font_size(12);
            display: block;
        }
    }
}