/*
	global typography styles
    NB: named global-typography.25.scss to allow for project-specific overrides to these styles (see UI/Source/GeneralStyle/typography.30.scss)
*/

html {
    font-size: #{$base_font_size}px;
    // define rules which shouldn't be applied for admin views
    &:not(.admin) {

        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            font-family: $title_font_family;
            font-weight: $title_font_weight;
        }

        h1, .h1 {
            font-size: $theme_h1_font_size;
        }

        h2, .h2 {
            font-size: $theme_h2_font_size;
        }

        h3, .h3 {
            font-size: $theme_h3_font_size;
        }

        h4, .h4 {
            font-size: $theme_h4_font_size;
        }

        h5, .h5 {
            font-size: $theme_h5_font_size;
        }

        h6, .h6 {
            font-size: $theme_h6_font_size;
        }

        b, strong {
            font-family: $bold_font_family;
            font-weight: $bold_font_weight;
        }
    }
}
