// NB: refer to UI/Source/ThirdParty/GlobalStyle/global-forms.45.scss for shared form styling
// (UI/Source/GeneralStyle/Forms.50.scss for project-specific styling)

.validation-error{
	color: red;
	font-size: smaller;
	margin-top: 4px;
}

.clickable:hover{
	cursor:pointer;
}

input[type="checkbox"].form-control {
	width: initial;
}