.loading {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    .fa-spinner {
        font-size: 4rem;
        margin: 1rem;
    }

    svg {
        width: 4rem;
        height: 4rem;
    }
}
