.multiselect{
	
	.entry:hover, .entry-suggestion{
		cursor:pointer;
	}
	
	.btn-primary{
		margin-left: 20px;
		display: inline-block;
	}
	
	.entry{
		display: inline-block;
		background: rgb(230,230,230);
		border-radius: 5px;
		padding: 5px;
		margin-right: 10px;
		margin-bottom: 10px;
		
		
		.remove-icon{
			margin-left: 5px;
			color: rgb(128,128,128);
		}
	}
	
	.search{
		.suggestion{
			display: inline-block;
			background: #28a745;
			border-radius: 5px;
			padding: 5px;
			color: white;
			margin-right: 10px;
			margin-top: 10px;
			
			&::before{
				content: '+ ';
			}
		}
	}
}