// Open Sans
@font-face {
    font-family: 'OpenSans';
    /*
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-Regular-webfont.woff2') format('woff2'),
    url('OpenSans-Regular-webfont.woff') format('woff'),
    url('OpenSans-Regular-webfont.ttf') format('truetype'),
    url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    */
	
    src: url('./OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./OpenSans-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./OpenSans-BoldItalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./OpenSans-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./OpenSans-Light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./OpenSans-LightItalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./OpenSans-SemiboldItalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
	font-display: swap;
}

$installed_font: 'OpenSans';