@font-face {
    font-family: 'Pathways';
    src: url('./Pathways-Regular.woff2') format('woff2'),
        url('./Pathways-Regular.woff') format('woff'), 
        url('./PathwaysScript.otf') format('otf'), 
        url('./Pathways-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}