.recent-searches {
    
    .recent-searches-product-list {
        display: flex;
        max-width: 100%;
        flex-wrap: nowrap; // Keeps items in a single row
    }

    .recent-searches-product-item {
        flex: 0 0 auto; // Prevents shrinking, ensures item sizing
        margin-right: 10px;
        max-width: 18%;
        padding:10px;
        
        img {
            cursor:pointer;
            width: 100%;
            aspect-ratio: 1;
        }

        p {
            cursor:pointer;
            display: -webkit-box;
            text-overflow: ellipsis;
            width: 80%;
            aspect-ratio:1;
            
            &:hover {
                text-decoration: underline;
            }
        }
        
    }
}
