@mixin lightModeDefaults() {
	--fallback__admin-header-bg: linear-gradient(to right, #9E40B5,#350EE5, #100862);
	--fallback__admin-header-fg: #fff;
	--fallback__admin-header-fg-faded: #ffffff60;

	//--fallback__admin-subheader-bg: linear-gradient(to right, #9E40B530, #350EE530, #10086230);
	//--fallback__admin-subheader-fg: #222;
	//--fallback__admin-bg: #e9d2ef;
	//--fallback__admin-fg: #222;

	--fallback__admin-subheader-bg: #e9d2ef;
	--fallback__admin-subheader-fg: #222;
	--fallback__admin-subheader-fg-faded: #22222230;

	--fallback__admin-feedback-height: 3.5rem;
	
	--fallback__admin-footer-bg: var(--fallback__admin-subheader-bg);
	--fallback__admin-footer-fg: var(--fallback__admin-subheader-fg);
	
	--fallback__admin-dropdown-bg: #fff;
	--fallback__admin-dropdown-fg: #222;
	--fallback__admin-dropdown-hover-bg: #eee;
	--fallback__admin-dropdown-hover-fg: #111;

	--fallback__admin-transparency-bg: repeating-linear-gradient(135deg, rgba(255,255,255,.25), rgba(255,255,255,.25) 2rem, rgba(255,255,255,.1) 2rem, rgba(255,255,255,.1) 4rem);
	
	--fallback__admin-selected-border: #F5B700;
	--fallback__admin-selected-bg: #F5B70040;
	--fallback__admin-selected-fg: #222;

	--fallback__admin-bg: #fdf8ff;
	--fallback__admin-fg: #222;

	--fallback__admin-hover-bg: #fff;
	--fallback__admin-hover-fg: #000;

	--fallback__admin-field-border: #ced4da;
	--fallback__admin-field-bg: #fff;
	--fallback__admin-field-fg: #212529;

	// garish colour scheme for testing
	//--fallback__admin-field-border: blue;
	//--fallback__admin-field-bg: yellow;
	//--fallback__admin-field-fg: red;

	--fallback__admin-link: var(--primary);
}

@mixin darkModeDefaults() {
	--fallback__admin-header-bg: linear-gradient(to right, #622172,#222, #000); //#201f1e; //#222;
	--fallback__admin-header-fg: #f8f8f8; //#fff;
	--fallback__admin-header-fg-faded: #eeeeee60;

	//--fallback__admin-subheader-bg: #444;
	//--fallback__admin-subheader-fg: #eee;
	//--fallback__admin-bg: #444;
	//--fallback__admin-fg: #eee;

	--fallback__admin-subheader-bg: #323130; //#444;
	--fallback__admin-subheader-fg: #f8f8f8; //#eee;
	--fallback__admin-subheader-fg-faded: #f8f8f860; // #eeeeee60
	
	--fallback__admin-footer-bg: var(--fallback__admin-subheader-bg);
	--fallback__admin-footer-fg: var(--fallback__admin-subheader-fg);
	
	--fallback__admin-dropdown-bg: #444;
	--fallback__admin-dropdown-fg: #eee;
	--fallback__admin-dropdown-hover-bg: #333;
	--fallback__admin-dropdown-hover-fg: #ddd;

	--fallback__admin-transparency-bg: repeating-linear-gradient(135deg, rgba(0,0,0,.085), rgba(0,0,0,.085) 2rem, rgba(0,0,0,.0625) 2rem, rgba(0,0,0,.0625) 4rem);

	--fallback__admin-bg: #3b3a39;
	--fallback__admin-fg: #eaeaea;

	--fallback__admin-hover-bg: #323130;
	--fallback__admin-hover-fg: #fff;

	--fallback__admin-field-border: rgb(20,20,20);
	--fallback__admin-field-bg: rgb(40,40,40);
	--fallback__admin-field-fg: #fff;

	--fallback__admin-link: #589afb;
}

// assumes light mode by default
:root {
	@include lightModeDefaults();
}

// triggered by system settings
@media (prefers-color-scheme: light) {
	:root {
		@include lightModeDefaults();
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		@include darkModeDefaults();
	}
}

// triggered by selecting mode via UI
html[data-theme-variant="light"] {
	@include lightModeDefaults();
}

html[data-theme-variant="dark"] {
	@include darkModeDefaults();
}
