.admin-page {

	.is-draft {
		color: var(--danger);
	}

	.localized-field-label, 
	.hint-field-label{
		margin-left: 5px;
		opacity: .75;
	}

	/*
	.rich-editor .rte-toolbar {
		top: 78px;
	}
	*/

	&__subheader {
		padding: .25rem 1rem;
		height: var(--admin-subheader-height, $fallback__admin-subheader-height);
		background: var(--admin-subheader-bg, var(--fallback__admin-subheader-bg));
		color: var(--admin-subheader-fg, var(--fallback__admin-subheader-fg));
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		box-shadow: 0 5px 5px rgb(0 0 0 / 10%);

		&-info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			flex: 0 0 auto;
			margin-right: 6rem;
		}

	}

	&__title {
		font-size: 1.05rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: .1rem;
		margin-bottom: .125rem;
	}

	&__search {
		width: 100%;
	}

	&__feedback {

		> .alert {
			margin: 0 !important;
			padding: .75rem 1rem;
			border-width: 4px;
			overflow-y: auto;
		}

	}

	&__breadcrumbs {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;

		li {
			display: flex;
			align-items: center;

			// > separators
			&::after {
				content: '\00a0\00a0\003e\00a0\00a0';
			}

			&:last-child::after {
				content: none;
			}

			a {
				color: currentColor;
			}

			code {
				font-size: .875rem;
				color: currentColor;
			}

		}
	}

	&__supplemental {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	&__content {
		height: calc(100vh 
			- var(--admin-header-height, $fallback__admin-header-height)
			- var(--admin-subheader-height, $fallback__admin-subheader-height)
			- var(--admin-feedback-height, 0px));
		display: flex;
		flex-direction: column;
	}

	&__internal {
		min-height: 10rem;
		flex: 1 1 auto;
		overflow-y: auto;
		padding: 1rem;
		background: var(--admin-bg, var(--fallback__admin-bg));
		color: var(--admin-fg, var(--fallback__admin-fg));

		.table {

			thead {
				background: var(--admin-subheader-bg, var(--fallback__admin-subheader-bg));
				color: var(--admin-subheader-fg, var(--fallback__admin-subheader-fg));

				th {
					border-top: none;

					&.sorted-desc .fa-caret-down, 
					&.sorted-asc .fa-caret-up {
						color: var(--success);
						opacity: 1;
					}

				}

				.fa-caret-down, .fa-caret-up{
					//color: lightgrey;
					opacity: .35;
		
					&:hover {
						opacity: .75;
						cursor: pointer;
					}
				}
			}

			col {

				&.col__select {
					width: 3.75rem;
				}

				&.col__id {
					width: 7.5rem;
				}

			}

			thead > tr > th {
				border-bottom: 0;
			}

			tbody > tr:hover {
				background: var(--admin-hover-bg, var(--fallback__admin-hover-bg));
				color: var(--admin-hover-fg, var(--fallback__admin-hover-fg));
			}

			> :not(:first-child) {
				border-top: 0;
			}
		}

		.form-select,
		.form-control {
			max-width: $admin-field-maxwidth;
			min-width: $admin-field-minwidth;
		}
	}

	&__display-options {
		$admin-page__display-options: &;

		.btn.btn-outline-secondary {
			border-color: var(--admin-subheader-fg-faded, var(--fallback__admin-subheader-fg-faded));
			color: var(--admin-subheader-fg, var(--fallback__admin-subheader-fg));

			&:hover {
				background: #eee;
				color: #222;
			}
		}

		.btn-check:checked + .btn.btn-outline-secondary, 
			.btn-check:active + .btn.btn-outline-secondary, 
			.btn.btn-outline-secondary:active, 
			.btn.btn-outline-secondary.active, 
			.btn.btn-outline-secondary.dropdown-toggle.show {
			border-color: var(--admin-subheader-fg, var(--fallback__admin-subheader-fg));
			background: var(--admin-subheader-fg-faded, var(--fallback__admin-subheader-fg-faded));
			color: var(--admin-subheader-fg, var(--fallback__admin-subheader-fg));
		}

		.btn-check:focus + .btn.btn-outline-secondary#{$admin-page__display-options}--labelled {
			box-shadow: 0 0 0 0.25rem var(--secondary-shadow);
		}

		.btn-check:checked + .btn.btn-outline-secondary#{$admin-page__display-options}--labelled, 
		.btn-check:active + .btn.btn-outline-secondary#{$admin-page__display-options}--labelled {
			border-color: var(--secondary);
			background-color: var(--secondary);
			color: var(--secondary-fg);
			
			&:hover,
			&.active {
				border-color: var(--secondary-hover-border);
				background-color: var(--secondary-hover);
			}
			
		}
		
		.btn-check:checked + .btn.btn-outline-secondary#{$admin-page__display-options}--labelled:focus,
		.btn-check:active + .btn.btn-outline-secondary#{$admin-page__display-options}--labelled:focus {
			box-shadow: 0 0 0 0.25rem var(--secondary-shadow);
		}

		#{$admin-page__display-options}--labelled {

			#{$admin-page__display-options}-label {
				min-width: 12.5rem;
			}
		}

		&-label {
			font-size: .75rem;
			font-weight: 600;
			display: block;
			min-width: 6.25rem;
		}

	}

	&__footer {
		flex: 0 0 var(--admin-footer-height, $fallback__admin-footer-height);
		padding: .25rem 1rem;
		//background: var(--admin-footer-bg, var(--fallback__admin-footer-bg));
		//color: var(--admin-footer-fg, var(--fallback__admin-footer-fg));
		background: var(--admin-subheader-bg, var(--fallback__admin-subheader-bg));
		color: var(--admin-subheader-fg, var(--fallback__admin-subheader-fg));
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: .75rem;

		&-actions {
			display: flex;
			align-items: center;

			&-label {
				margin-inline-end: 1rem;
				font-size: .875rem;
			}
		}
	}

	&__impersonation-userlist {

		// right-align "Select" buttons
		td:last-child {
			text-align: right;
		}

	}

}
