// fallback values for CSS vars
$fallback__admin-header-height: 3.125rem;

//$fallback__admin-header-bg: linear-gradient(to right, #9E40B5,#350EE5, #100862);
//$fallback__admin-header-fg: #fff;
//$fallback__admin-header-fg-faded: #ffffff60;

//$fallback__admin-subheader-height: 2.75rem;
$fallback__admin-subheader-height: 4rem;
//$fallback__admin-subheader-bg: linear-gradient(to right, #9E40B530, #350EE530, #10086230);
	
$fallback__admin-footer-height: 3.75rem;
//$fallback__admin-footer-bg: $fallback__admin-subheader-bg;
	
//$fallback__admin-dropdown-bg: #fff;
//$fallback__admin-dropdown-fg: #222;
//$fallback__admin-dropdown-hover-bg: #eee;
//$fallback__admin-dropdown-hover-fg: #111;

$fallback__admin-trigger-left: auto;
$fallback__admin-trigger-right: 1rem;
$fallback__admin-trigger-top: auto;
$fallback__admin-trigger-bottom: 1rem;

$fallback__admin-menu-left: auto;
$fallback__admin-menu-right: 1rem;
$fallback__admin-menu-top: auto;
$fallback__admin-menu-bottom: 3.5rem;

//----------

$admin-field-maxwidth: 50vw;
$admin-field-minwidth: 400px;
