.sitemap {

	&__wrapper {
		background: var(--admin-bg, var(--fallback__admin-bg));
		color: var(--admin-fg, var(--fallback__admin-fg));
		height: calc(100vh 
			- var(--admin-header-height, $fallback__admin-header-height)
			- var(--admin-subheader-height, $fallback__admin-subheader-height)
			- var(--admin-feedback-height, 0px));
		display: flex;
		flex-direction: column;
	}

	&__internal {
		flex: 1 1 auto;
		overflow-y: auto;
		color: inherit;
	}

	/*
	&__footer {
		flex: 0 0 var(--admin-footer-height, $fallback__admin-footer-height);
		padding: 4px 16px;
		background: var(--admin-footer-bg, var(--fallback__admin-footer-bg));
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: .75rem;
	}
	*/

	&__clone-modal-footer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: .5rem;
	}

}

.sitemap-expander {
	color: inherit;

	.collapsible {

		&-summary {
			color: inherit;
			border-left: 0;
			border-right: 0;
			border-color: var(--admin-subheader-bg, var(--fallback__admin-subheader-bg));
		}

		&-content,
		&__content {
			//border-color: var(--admin-subheader-bg, var(--fallback__admin-subheader-bg));
			border: 0;
		}

	}

	&:hover {

		> .collapsible-summary {
			background: var(--admin-hover-bg, var(--fallback__admin-hover-bg));
			color: var(--admin-hover-fg, var(--fallback__admin-hover-fg));
		}

	}

	&[open] + .sitemap-expander > .collapsible-summary {
		border-top: 1px solid var(--admin-subheader-bg, var(--fallback__admin-subheader-bg));
	}

	&--prefers-logged-in {
		margin-inline-end: .5rem;
		color: var(--primary);
	}
}