.ui-promotion {
	$ui-promotion: &;
	container-name: promo-card;
	container-type: inline-size;
	width: 100%;

	&__internal {
		border-radius: px_to_rem(20);
		padding: px_to_rem(30);
		background-image: linear-gradient(to top right, #fafafa, #ededed);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		overflow: hidden;
		//font-family: 'Avenir Next LT Pro';
		display: flex;
		flex-direction: column;
		gap: px_to_rem(8);
		min-height: px_to_rem(259);
		padding-bottom: calc(1rem + 56.25%);
	}

	&__image {
		position: absolute;
		pointer-events: none;
		left: 0;
		right: 0;
		bottom: 0;
		aspect-ratio: 16 / 9;

		> .ui-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		color: var(--palette-dark-grey);
		font-weight: 800;
		font-size: px_to_rem(20);
		line-height: px_to_rem(25);
		margin: 0;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		text-wrap: balance;
		isolation: isolate;
	}

	&__description {
		color: var(--palette-dark-grey);
		font-weight: 700;
		font-size: px_to_rem(16);
		line-height: normal;
		margin: 0 0 px_to_rem(16);
		display: none;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-wrap: balance;
		isolation: isolate;
	}

	&__cta {
		color: var(--palette-pink) !important;
		font-weight: 700;
		font-size: px_to_rem(17);
		isolation: isolate;
		align-self: flex-start;

		// ensures entire card is clickable
		&:after {
			content: "";
			position: absolute;
			inset: 0;
		}
	}

	&__sticker {
		position: absolute;
		width: px_to_rem(150);
		height: px_to_rem(150);
		border-radius: 50%;
		padding-bottom: px_to_rem(10);
		filter: drop-shadow(0 px_to_rem(5) px_to_rem(5) rgba(0, 0, 0, 0.3));
		overflow: hidden;
		display: none; // sticker not shown at smallest size - this is triggered on via @container queries below
		flex-direction: column;
		gap: px_to_rem(5);
		align-items: center;
		justify-content: center;
		text-align: center;
		pointer-events: none;

		&-bg {
			position: absolute;
			inset: 0;
			background: linear-gradient(135deg, #B50E7C, #9d0a6c);
			clip-path: path("m21.948 21.948c-29.265 29.265-29.265 76.712 1e-6 105.98 14.632 14.632 29.571 21.949 48.749 21.949 19.178 0 16.315-0.11197 47.69-31.487 31.375-31.375 31.487-28.512 31.487-47.69-1e-5 -19.178-7.3165-34.117-21.949-48.749-29.265-29.265-76.712-29.265-105.98 0z");
			z-index: -1;
		}

		&-peel {
			position: absolute;
			inset: 0;
			background: linear-gradient(135deg, #aaa, #aaa 70%, #cae5d3 70%, #cae5d3, #9a9a99 80%);
			clip-path: path("m110.04 110.04c-10.469 10.469-16.274 29.587-23.463 38.043 6.4232-2.9527 12.831-10.455 31.941-29.565 19.11-19.11 26.612-25.518 29.565-31.941-8.4562 7.1886-27.574 12.994-38.043 23.463zm-36.22 39.957c0.29402-2e-3 0.56578-7e-3 0.84864-0.0105-0.27937 3e-3 -0.55839 8e-3 -0.84864 0.0105zm76.177-76.177c-2e-3 0.29402-7e-3 0.56578-0.0105 0.84864 3e-3 -0.27937 8e-3 -0.55838 0.0105-0.84864z");
		}

		> p {
			color: #fff;
			font-weight: 800;
			font-size: px_to_rem(16);
			line-height: px_to_rem(18);
			margin: 0;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;
			text-wrap: balance;
			padding: 0 px_to_rem(20);
		}

		> small {
			color: #fff;
			font-weight: 700;
			font-size: px_to_rem(11);
			line-height: px_to_rem(12);
			margin: 0;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			padding: 0 px_to_rem(16);
		}
	}

	&:hover {

		#{$ui-promotion}__internal {
			box-shadow: 0 0 px_to_rem(16) 0 rgba(#210818, 25%);
		}

	}

	&--white-to-transparent {

		#{$ui-promotion}__image {
			// convert white background > transparency
			mix-blend-mode: multiply;
		}

	}

	&--clipped {

		#{$ui-promotion}__internal {
			padding-bottom: 0;
		}

		#{$ui-promotion}__image {
			left: auto;
			aspect-ratio: auto;
			width: px_to_rem(256);
			height: px_to_rem(256);
			bottom: px_to_rem(-80);
			right: px_to_rem(-48);

			> .ui-image {
				object-fit: contain;
			}

		}

	}

}

@container promo-card (min-width: #{px_to_rem(368)}) {
	
	.ui-promotion {
		$ui-promotion: &;
		
		&__title {
			-webkit-line-clamp: 2;
		}
		
		&__description {
			display: -webkit-box;
		}
		
		// at larger sizes, the CTA should be rendered as a button
		&__cta {
			display: inline-flex;
			background-color: var(--primary);
			border-color: var(--primary);
			color: var(--primary-fg) !important;
			min-height: calc(1rem * var(--btn-min-height) / 16);
			padding: 0 calc(1rem * var(--btn-padding) / 16);
			border-radius: calc(1rem * var(--btn-border-radius) / 16);
			gap: calc(1rem * var(--btn-gap) / 16);
			cursor: pointer;
			align-items: center;
			justify-content: center;
			white-space: nowrap;
			line-height: 1.5;
			text-align: center;
			text-decoration: none;
			vertical-align: middle;
			user-select: none;
			transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
			
			// hide arrow icon
			> i {
				display: none;
			}
			
			&:hover {
				background-color: var(--primary-hover);
				border-color: var(--primary-hover-border);
				color: var(--primary-fg) !important;
			}

		}
		
		&__sticker {
			display: flex;
			bottom: px_to_rem(35); 
			left: px_to_rem(25);
		}
	
		&--clipped {

			#{$ui-promotion}__internal {
				min-height: px_to_rem(487);
			}

			#{$ui-promotion}__image {
				width: px_to_rem(512);
				height: px_to_rem(512);
				bottom: px_to_rem(-150);
				right: px_to_rem(-175);
			}

		}
		
	}
  
}

@container promo-card (min-width: #{px_to_rem(400)}) {
	
	.ui-promotion {
		$ui-promotion: &;
		
		&__sticker {
			display: none;
		}

		&--clipped {

			#{$ui-promotion}__internal {
				min-height: px_to_rem(345);
			}

			#{$ui-promotion}__image {
				width: px_to_rem(375);
				height: px_to_rem(375);
				bottom: px_to_rem(-125);
				right: px_to_rem(-150);
			}

		}

	}
  
}

@container promo-card (min-width: #{px_to_rem(650)}) {

	.ui-promotion {
		$ui-promotion: &;

		&:not(#{$ui-promotion}--clipped) {

			#{$ui-promotion}__internal {
				min-height: px_to_rem(219);
				padding-bottom: 0;
			}

			#{$ui-promotion}__image {
				left: auto;
				right: 0;
				top: 0;
				bottom: 0;
				aspect-ratio: auto;
				height: auto;
			}

		}

	}

}

@container promo-card (min-width: #{px_to_rem(900)}) {
	
	.ui-promotion {
		$ui-promotion: &;
		
		&__internal {
			min-height: px_to_rem(219);
			padding-bottom: 0;
		}

		&__image {
			left: auto;
			right: 0;
			top: 0;
			bottom: 0;
			aspect-ratio: auto;
			height: auto;
		}
		
		&__title,
		&__description {
			max-width: calc(100% - #{px_to_rem(300)});
		}
		
		&__sticker {
			display: flex;
			bottom: px_to_rem(35);
			right: px_to_rem(25);
			left: auto;
		}

		&--clipped {

			#{$ui-promotion}__image {
				top: auto;
				bottom: px_to_rem(-200);
				right: px_to_rem(-175);
				width: px_to_rem(512);
				height: px_to_rem(512);
			}

		}

	}
  
}

@container promo-card (min-width: #{px_to_rem(1137)}) {
	
	.ui-promotion {
		$ui-promotion: &;
		
		&__internal {
			min-height: px_to_rem(249);
		}
		
		&__image {
		}

		&__title,
		&__description {
			max-width: calc(100% - #{px_to_rem(500)});
		}

		&--clipped {

			#{$ui-promotion}__image {
				bottom: px_to_rem(-150);
				right: px_to_rem(-175);
				width: px_to_rem(512);
				height: px_to_rem(512);
			}

		}

	}
  
}
