/*
	Optional stylesheet
*/

.custom-field-form{
	.deleteButton {
		float: right;
		background-color: red;
		color: white;
	}

	.delete-confirmation-modal {
		.confirmButton {
			float: right;
		}
	}
}