
.add-edit-template-page {
    width: 100%;
    max-width: unset;
    height:100%;
    display: block;
    
    .admin-tabs {
        height:calc(100% - 55px);
    }
    
    > form {
        width: 100%;
        max-width: unset;
        height:100%;
        display: block;
    }
    
    .admin-page__footer {
        top: 0px !important;
    }
}