.uploader {
    $uploader: &;
	--uploader-width: #{px_to_rem(256)};
	--uploader-compact-width: #{px_to_rem(192)};
	--uploader-icon-width: #{px_to_rem(96)};
	--focal-target-color: #fff;
	--focal-target-size: #{px_to_rem(48)};
	--focal-target-size-half: #{px_to_rem(-24)};
	--focal-target-size-quarter: #{px_to_rem(12)};
	--focal-target-border-width: #{px_to_rem(2)};

    &__internal {
        width: var(--uploader-width);
        aspect-ratio: 1 / 1;
        position: relative;

        &--icon {
            width: var(--uploader-icon-width);

            #{$uploader}__label {
                padding: 0;
            }

            + #{$uploader}__caption {
                width: var(--uploader-icon-width);
            }

            #{$uploader}__input {
                cursor: default;
            }

        }
    }

    &__imagebackground {
        width: 100%;
        height: 100%;
        position: absolute;
		background-image: conic-gradient(#e6e6e6 0 25%, #f5f5f5 0 50%, #e6e6e6 0 75%, #f5f5f5 0);
		background-size: 1rem 1rem;
		overflow: hidden;

		&-crosshair {
			position: absolute;
			width: var(--focal-target-size);
			height: var(--focal-target-size);
			transform: translate(var(--focal-target-size-half), var(--focal-target-size-half));
			pointer-events: none;
			transition: all .2s ease-in-out;
			animation-iteration-count: infinite;
			animation-duration: 2.5s;
			background:
				linear-gradient(to right, var(--focal-target-color) var(--focal-target-border-width), transparent var(--focal-target-border-width)) 0 0,
				linear-gradient(to right, var(--focal-target-color) var(--focal-target-border-width), transparent var(--focal-target-border-width)) 0 100%,
				linear-gradient(to left, var(--focal-target-color) var(--focal-target-border-width), transparent var(--focal-target-border-width)) 100% 0,
				linear-gradient(to left, var(--focal-target-color) var(--focal-target-border-width), transparent var(--focal-target-border-width)) 100% 100%,
				linear-gradient(to bottom, var(--focal-target-color) var(--focal-target-border-width), transparent var(--focal-target-border-width)) 0 0,
				linear-gradient(to bottom, var(--focal-target-color) var(--focal-target-border-width), transparent var(--focal-target-border-width)) 100% 0,
				linear-gradient(to top, var(--focal-target-color) var(--focal-target-border-width), transparent var(--focal-target-border-width)) 0 100%,
				linear-gradient(to top, var(--focal-target-color) var(--focal-target-border-width), transparent var(--focal-target-border-width)) 100% 100%;
			background-size: var(--focal-target-size-quarter) var(--focal-target-size-quarter);
			background-repeat: no-repeat;
			filter: drop-shadow(2px 2px 1px rgba(0 0 0 / .5));
            z-index: 2;
		}

		&:hover {

			#{$uploader}__imagebackground-crosshair {
				//filter: none;
				//animation-name: focal_pulse;
				box-shadow: rgba(0, 0, 0, 0.25) 0 0 0 50vw;
			}

		}

    }

    &__input {
        width: 100% !important;
        height: 100% !important;
        opacity: 1 !important;
        position: static !important;
        z-index: auto !important;
        cursor: pointer;
    }

    &__label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        padding: 2.75rem;
        cursor: pointer;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;

        i {
            font-size: 2.5rem;
            margin-bottom: .5rem;
        }

        #{$uploader}__file {
            font-size: 4rem;
        }

        &-internal {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        &.video {
            padding:0;
        }

        video {
            width: 100%;
            height: 100%;
        }
    }

    &__icon {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        padding: 2.75rem;
        cursor: pointer;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;

        i {
            font-size: 2.5rem;
            margin-bottom: .5rem;
        }

        #{$uploader}__file {
            font-size: 4rem;
        }

        &-internal {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    &__progress {
        display: none;
        background: transparent;
        position: absolute;
        border: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 8px;
        pointer-events: none;

        &::-webkit-progress-bar {
            background-color: rgba(0,0,0, .125);
            border-radius: 0 0 3px 3px;
        }

        &::-webkit-progress-value {
            background-color: rgba(0,0,0, .25);
            border-radius: 0 0 3px 3px;
        }

        &::-moz-progress-bar {
            background-color: rgba(0,0,0, .25);
            border-radius: 0 0 3px 3px;
        }
    }

    &__caption {
        font-size: .75rem;
        text-align: center;
        display: block;
        margin-top: 0.25rem;
        width: var(--uploader-width);
        text-align: center;

        &__single {
            width:100%;
            text-align:left;
        }
    }

    &--16-9 {

        #{$uploader}__internal {
            aspect-ratio: 16 / 9;
        }
    }

    &--4-3 {

        #{$uploader}__internal {
            aspect-ratio: 4 / 3;
        }
    }

    &--error {

        #{$uploader}__label {
            background: var(--danger);
            color: var(--danger-fg);
            border-color: var(--danger-active-border);
        }
        /*
        #{$uploader}__progress {
            display: block;
        }
        */
    }

    &--progress {

        #{$uploader}__progress {
            display: block;
        }
    }

    &--content {

        #{$uploader}__label {
            background-color: #ffffff;
        }
    }

    &--image {

        #{$uploader}__label {
            background-color: unset;
        }
    }

    &--drag-target {

        #{$uploader}__label {
            border-width: 4px;
            border-style: dashed;
        }
    }

    &--compact {
        
        #{$uploader}__internal {
            width: var(--uploader-compact-width);
            aspect-ratio: auto;
            height: 100px;
        }

        #{$uploader}__label {
            width: var(--uploader-compact-width);
            font-size: .875rem;
            padding: 1.25rem;

            i {
                font-size: 1.25rem;
                margin-bottom: .25rem;
            }

            #{$uploader}__file {
                font-size: 2rem;
            }

            &-internal {
                -webkit-line-clamp: 3;
            }
        }

        #{$uploader}__caption {
            width: var(--uploader-compact-width);
        }

    }

    &__bulk-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        > .upload {
            flex: 0 0 256px;
        }
    }

    &__abort {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

@include mq_firefox {
    
    .uploader {
        
        &__progress {
            background: rgba(0,0,0, .125);
        }

    }
  
}

html.admin {

    .uploader {
        $uploader: &;

        &__imagebackground {
            //background: #f0f0f0;
        }

        &__label {
    		border: var(--field-border);
	    	background: var(--field-background) no-repeat center;
		    color: var(--field-color);
        }

        &__icon {
    		border: var(--field-border);
	    	background: var(--field-background);
        }

        &--content {

            #{$uploader}__label {
		    	background: var(--field-background);
            }
        }

    }

}