react-component {
    display: block;
    margin: 0.5em 0;
}

root-content[data-placeholder]:empty::before,
root-content[data-placeholder]:has(> br[data-mce-bogus]:only-child)::before {
    content: attr(data-placeholder);
    color: #888;
    font-style: italic;
}

body > .tox-silver-sink {
    z-index: 2147483645 !important;
}

// fullscreen styles
.canvas-editor:fullscreen {
	overflow-y: auto;

	> .tox.tox-tinymce {
		border-radius: 0;
	}

}

// NB: 4r-fullscreen plugin currently has to absolutely position editor and rely on a high z-index,
//     rather than moving the editor to a true top-layer fullscreen as this blocks menus / modals
.canvas-editor.fullscreen {
	position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
	overflow-y: auto;

	> .tox.tox-tinymce {
		border-radius: 0;
	}

}

.fullscreen-hidden-popover {
	display: hidden !important;
}