react-component {
    display: block;
}

root-content.mce-content-body {
	display: inline-block;
	transition: outline .2s ease;
	width: 100%;
	
	&:hover {
		outline: 2px dotted var(--primary) !important;
	    outline-offset: -2px;
	}
}

root-content[data-placeholder]:empty::before,
root-content[data-placeholder]:has(> br[data-mce-bogus]:only-child)::before {
    content: attr(data-placeholder);
    color: inherit;
	opacity: .65;
}

body > .tox-silver-sink {
    z-index: 2147483645 !important;
}

// fullscreen styles
.canvas-editor:fullscreen {
	overflow-y: auto;

	> .tox.tox-tinymce {
		border-radius: 0;
	}

}

.canvas-editor.fullscreen {

	// dock header at top of viewport when in fullscreen mode
	.tox:not(.tox-tinymce-inline) .tox-editor-header {
		left: 0 !important;
		right: 0 !important;
		top: 0 !important;
		width: auto !important;
	}

}

// NB: 4r-fullscreen plugin currently has to absolutely position editor and rely on a high z-index,
//     rather than moving the editor to a true top-layer fullscreen as this blocks menus / modals
.canvas-editor.fullscreen {
	position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
	overflow-y: auto;

	> .tox.tox-tinymce {
		border-radius: 0;
	}

}

.fullscreen-hidden-popover {
	display: hidden !important;
}

react-component:empty::before {
	content: attr(data-empty-message);
	display: block;
	background: var(--admin-page__subheader-background, #E0E4F5);
	padding: 1rem;
	text-align: center;
    font-style: italic;
    font-size: 14px;
    border-radius: 4px;
    border: 1px dashed rgba(0 0 0 / .25);
}