/*
	SASS variable defaults

    NB: named global-variables.5.scss to allow for project-specific overrides (see UI/Source/GeneralStyle/variables.10.scss)
	** CHANGES / ADDITIONS TO THESE SETTINGS WILL APPLY TO ALL SOCIALSTACK PROJECTS - use project-level SASS to override for a specific project **
*/

// fallback values for CSS vars
$fallback__admin-header-height: 3.125rem;



$base_font_size: 16 !default; // in px

$ratio_golden: 1.618;
$ratio_perfect_fifth: 1.5;
$ratio_augmented_fourth: 1.414;
$ratio_perfect_fourth: 1.333;
$ratio_major_third: 1.25;
$ratio_minor_third: 1.2;
$ratio_major_second: 1.125;
$ratio_minor_second: 1.067;

$heading_font_ratio: $ratio_perfect_fourth;

// common functions defined as early as possible
@function strip_unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }

  @return $number;
}

@function get_unit($value) {
  @return str-slice($value * 0 + "", 2, -1);
}

@function px_to_em($px) {
    @return math.div(0em + $px, $base_font_size);
}

@function px_to_rem($px) {
    $value: strip_unit($px);
    @return 0rem + math.div($value, $base_font_size);
}

@function pt_to_rem($pt) {
  $PX_PER_PT: 1 + math.div(1, 3);
  @return math.div(0rem + ($pt * $PX_PER_PT), $base_font_size);
}

@function cm_to_rem($cm) {
  $PX_PER_CM: math.div(96, 2.54);
  @return math.div(0rem + ($cm * $PX_PER_CM), $base_font_size);
}

@function mm_to_rem($mm) {
  $PX_PER_MM: math.div(96, 25.4);
  @return math.div(0rem + ($mm * $PX_PER_MM), $base_font_size);
}

@function q_to_rem($q) {
  $PX_PER_Q: math.div(96, 101.6);
  @return math.div(0rem + ($q * $PX_PER_Q), $base_font_size);
}

@function in_to_rem($in) {
  @return math.div(0rem + ($in * 96), $base_font_size);
}

@function pc_to_rem($pc) {
  $PX_PER_PC: math.div(96, 6);
  @return math.div(0rem + ($pc * $PX_PER_PC), $base_font_size);
}

// convert absolute unit to rem
// 2.54cm = 25.4mm = 101.6q (quarter mm) = 96px = 1in = 6pc (pica) = 72pt
@function convert_to_rem($number) {
    $value: strip_unit($number);
    $unit: get_unit($number);
    
    @return map-get((
        cm: cm_to_rem($value),
        mm: mm_to_rem($value),
        q: q_to_rem($value),
        px: px_to_rem($value),
        in: in_to_rem($value),
        pc: pc_to_rem($value),
        pt: pt_to_rem($value),
        rem: $number
    ), $unit);

}

$site_bg: #fff !default;
