/*
	global utilities
*/

.non-selectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.uppercase {
	text-transform: uppercase;
}

.pad20 {
	padding: 0em + 20 / $base_font_size;
}

.space20 {
	margin-top: 0em + 20 / $base_font_size;
}

.margin-y-20 {
	margin: 0em + 20 / $base_font_size 0;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.hidden {
	display: none !important;
}

.shown-mobile,
.shown-mobile-portrait,
.shown-mobile-landscape,
.shown-ipad,
.shown-ipad-and-below,
.shown-ipad-portrait,
.shown-ipad-portrait-and-below,
.shown-below-ipad-portrait,
.shown-ipad-landscape,
.shown-ipad-landscape-and-below,
.shown-below-ipad-landscape,
.shown-desktop {
    display: none;
}

@media only screen and (max-width: 1024px) {

	.shown-ipad-and-below,
	.shown-ipad-landscape-and-below {
        display: block;
	}

}

@media only screen and (max-width: 1023px) {

	.shown-below-ipad-landscape {
        display: block;
	}

}

//@media only screen and (max-width: 768px) {
@media only screen and (max-width: 834px) {

	.shown-ipad-portrait-and-below {
        display: block;
	}

}

//@media only screen and (max-width: 767px) {
@media only screen and (max-width: 833px) {

	.shown-below-ipad-portrait {
        display: block;
	}

}

@include mq_mobile {

	.hidden-mobile {
        display: none !important;
    }

	.shown-mobile {
        display: block;
    }

    @media only screen and (orientation: portrait) {

		.hidden-mobile-portrait {
			display: none !important;
		}

		.shown-mobile-landscape {
			display: none;
		}

		.shown-mobile-portrait {
			display: block;
		}

    }

    @media only screen and (orientation: landscape) {

		.hidden-mobile-landscape {
			display: none !important;
		}

		.shown-mobile-portrait {
			display: none;
		}

		.shown-mobile-landscape {
			display: block;
		}

    }

}

@include mq_iPad {

    .hidden-ipad {
        display: none !important;
    }

	.shown-ipad {
        display: block;
    }

    @media only screen and (orientation: portrait) {

		.hidden-ipad-portrait {
			display: none !important;
		}

		.shown-ipad-portrait {
			display: block;
		}

    }

    @media only screen and (orientation: landscape) {

		.hidden-ipad-landscape {
			display: none !important;
		}

		.shown-ipad-landscape {
			display: block;
		}

    }

}

@include mq_desktop {

    .hidden-desktop {
        display: none !important;
    }

	.shown-desktop {
        display: block;
    }

}

.clear {
	clear: both;
}

/* Blocks orange focus outlines on older phones */
* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
	outline: none;
} 

.break-word {
	word-break: break-word;
}
