
.component-group-page {

    .group-item {
        margin-bottom: 5px;
        border:1px solid #ccc;
        padding:10px 15px;

        &.selected {
            background:#cccccc20;
            border-left-color: #66bc69;
            border-left-width: 5px;
        }

        &.excluded {
            background: #ffcccc20;
            border-left-color: var(--danger, #dc3545);
            border-left-width: 5px;
        }

        .text-danger {
            color: var(--danger, #dc3545);
        }
    }
    
}