.huddle-chat {
	$huddle-chat: &;

	&__options {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 24px;
		background: var(--huddle-footer-bg, transparent);
		min-height: $huddle-chat-footer;

		&-left {
		}

		&-media {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;

			#{$huddle-chat}__button {
				margin-right: .5rem;

				&:last-child {
					margin-right: 0;
				}
			}

		}

		&-leave {

			.dropdown-toggle {
				border-radius: 50%;
				width: 3rem;
				height: 3rem;
			}

			.dropdown__label i {
				margin: 0;
			}

			.dropdown__arrow {
				display: none;
			}

			.dropdown-menu {
				transform: translate(calc(1.5rem - 50%), -.25rem);

				> li > .btn {
					text-align: center;
				}
			}

		}

	}

	#{$huddle-chat}__button--hangup {
		margin: 0 .5rem;
	}

}