//$sub_option_height: 300px;
$radio_option_width: 300px;
$radio_option_height: 160px;
$radio_option_gap_x: .75rem;
$radio_option_gap_y: 1.75rem;
$radio_input_height: 20px;
$one_third: $one_third: 100% / 3;
$option_minheight: 250px;

.select-subscription {
	max-width: $radio_option_width * 3;
	margin: 0 auto;

	.product-options {

		.btn-group {
			width: 100%;
			flex-wrap: wrap;
			gap: $radio_option_gap_y $radio_option_gap_x;
		}

	}

	&__option {
		$select_subscription__option: &;
		flex: 0 0 calc(#{$one_third} - ((2 * #{$radio_option_gap_x}) / 3));
		min-height: $radio_option_height;
		display: flex;
		flex-direction: column;
		align-items: center;

		&-card {
			width: 100%;
			min-height: $option_minheight;
			color: inherit;
			padding: 0;
			background: transparent;
			display: flex;
			flex-direction: column;
			align-items: center;
			border: 0;
		}

		&-internal {
			flex: 1;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: $option_minheight;

			.flip-card__internal {
				border: 1px solid #ced4da;
				border-radius: .25rem !important;
			}

			.flip-card__face {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				&--front {
					background: #fff;
				}

				&--rear {
					background: var(--secondary);
					color: var(--secondary-fg);
				}
			}
		}

		&-image-wrapper {
			background-color: rgba(0,0,0,.05);
			//border: 1px solid rgba(0,0,0,.1);
			border-radius: .25rem;
			padding: .75rem;
			//display: flex;
			//align-items: center;
			//justify-content: center;
		}

		&-image {
			position: relative;
			width: 128px;
			height: 128px;

			&::after {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: flex;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				font-family: "Font Awesome 5 Pro";
				font-weight: 300;
				content: "\f49c"; // fa-box-full
				position: absolute;
				width: 100%;
				height: 100%;
				justify-content: center;
				align-items: center;
				font-size: 4rem;
				opacity: .25;
			}
		}

		&-name {
			font-size: 20px;
			font-weight: bold;
		}

		&-price {

		}

		&-table {
			color: currentColor;
			font-size: 14px;
			margin-block-end: 0;

			tbody > tr:last-child > td {
				border-block-end: 0;
			}

			.currency-column {
				text-align: right;
			}

		}

		&--selected {

			#{$select_subscription__option}-internal {

				.flip-card__internal {
					//border: 1px solid #ced4da;
				}

				.flip-card__face {

					&--front {
						background: var(--primary);
						color: var(--primary-fg);
					}

					&--rear {
						//background: var(--primary);
						//color: var(--primary-fg);
					}
				}
			}

			#{$select_subscription__option}-image-wrapper {
				background-color: var(--primary);
				box-shadow: inset 0 0 50px rgba(0,0,0,.25);
			}

			#{$select_subscription__option}-image {

				&::after {
					//color: var(--primary);
				}
			}

			#{$select_subscription__option}-table {
				//color: currentColor;
			}

		}
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
		margin-block-start: 2rem;
		margin-block-end: 2rem;

		.btn .fa-fw {
			margin-inline-end: .5rem;
		}
	}

}

html.no-flexgap {

	.select-subscription {

		&__option {
			margin-block-end: $radio_option_gap_y;
			margin-inline-end: $radio_option_gap_x;

			&:nth-of-type(3n + 3) {
				margin-inline-end: 0;
			}

		}

		&__footer {

			.btn {
				margin: 0 .5rem;

				&:first-child {
					margin-inline-start: 0;

					i {
						margin-inline-end: .5rem;
					}
				}

				&:last-child {
					margin-inline-end: 0;

					i {
						margin-inline-start: .5rem;
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(lg) {
	.select-subscription {

		&__option {
			flex: 0 0 calc(50% - (#{$radio_option_gap_x} / 2));
		}
	}
}

@include media-breakpoint-down(md) {
	.select-subscription {

		&__option {
			flex: 0 0 100%;
		}
	}
}
