$sub_option_height: 300px;
$radio_option_gap_x: .75rem;
$radio_option_gap_y: 1.75rem;
$radio_input_height: 20px;

.select-subscription__options {

}

.select-subscription__option {
	margin-bottom: 1rem;
	
	&.selected-in-cart {
		.flip-card__face {
			&--front {
				background: var(--primary);
				color: var(--primary-fg);
			}
		}
	}
	
	.flip-card__internal {
		border: 1px solid #ced4da;
		border-radius: .25rem !important;
	}

	.flip-card__face {
		&--front {
			background: #fff;
		}

		&--rear {
			background: var(--secondary);
			color: var(--secondary-fg);
		}
	}
	
	&-image-wrapper {
		background-color: rgba(0,0,0,.05);
		//border: 1px solid rgba(0,0,0,.1);
		border-radius: .25rem;
		padding: .75rem;
	}

	&-image {
		position: relative;
		width: 128px;
		height: 128px;

		&::after {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: flex;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			font-family: "Font Awesome 5 Pro";
			font-weight: 300;
			content: "\f49c"; // fa-box-full
		    position: absolute;
			width: 100%;
			height: 100%;
		    justify-content: center;
			align-items: center;
			font-size: 4rem;
			opacity: .25;
		}
	}

	&-name {
		font-size: 20px;
		font-weight: bold;
	}

	&-price {

	}

	&-table {
		color: currentColor;
		font-size: 14px;
		margin-block-end: 0;

		tbody > tr:last-child > td {
			border-block-end: 0;
		}

		.currency-column {
			text-align: right;
		}

	}

}

.product-option {

	&__image-wrapper {
		background-color: rgba(0,0,0,.05);
		//border: 1px solid rgba(0,0,0,.1);
		border-radius: .25rem;
		padding: .75rem;
	}

	&__image {
		position: relative;
		width: 128px;
		height: 128px;

		&::after {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: flex;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			font-family: "Font Awesome 5 Pro";
			font-weight: 300;
			content: "\f49c"; // fa-box-full
		    position: absolute;
			width: 100%;
			height: 100%;
		    justify-content: center;
			align-items: center;
			font-size: 4rem;
			opacity: .25;
		}
	}

}

.subscribe-select-subscription {
	margin: 1rem auto;

	&__title {
        font-size: pow($heading-font-ratio, 3) * $base-font-size * 1px;
	}

	&--loading {
		max-width: none;
	}

	.submit-btn, 
	.stripe-payment-form-error, 
	.alert {
		margin-top: 1rem;
	}

	.btn-group {
		width: 100%;
		flex-wrap: wrap;
		gap: $radio_option_gap_y $radio_option_gap_x;

		.product-option,
		.btn-check + .product-option {
			min-height: $sub_option_height;
			border-radius: .25rem !important;
			padding: 1rem;
		}

		.btn-check:checked + .product-option:after {
			font-family: "Font Awesome 5 Pro";
			font-weight: 900;
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			content: "\f058"; // fa-check-circle
			position: absolute;
			right: 1rem;
			bottom: .75rem;
			font-size: 1.5rem;
		}

		.btn-check:checked + .product-option.product--selected:after {
			font-family: "Font Awesome 5 Pro";
			font-weight: 900;
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			content: "\f07a"; // fa-shopping-cart
			position: absolute;
			right: 1rem;
			bottom: .75rem;
			font-size: 1.5rem;
		}

		&.form-invalid {

			.product-option {
				border-color: var(--danger);
			}

			.btn-check:focus + .product-option {
				border-color: var(--danger);
				box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
			}

		}

	}

	.product-option {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid #ced4da;

		&__name {
			font-size: 20px;
			font-weight: bold;
		}

		&__price {

		}

		&__table {
			color: currentColor;
			font-size: 14px;
			margin-block-end: 0;

			tbody > tr:last-child > td {
				border-block-end: 0;
			}

		}
	}

	.btn-check:focus + .product-option {
		//color: var(--dark);
		//background-color: #fff;
		border-color: #86b7fe;
		outline: 0;
		box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
	}

	&__footer {
		margin-top: 2rem;
		display: flex;
		justify-content: flex-end;
		gap: 1rem;

		.btn {
			display: flex;
			align-items: center;
			gap: .5rem;
		}
	}
}

html.no-flexgap {

	.subscribe-select-subscription {

		.btn-group {

			.product-option,
			.btn-check + .product-option {
				margin-block-end: $radio_option_gap_y;
				margin-inline-end: $radio_option_gap_x;

				&:nth-of-type(3n + 3) {
					margin-inline-end: 0;
				}
			}
		}

		&__footer {

			.btn {
				margin: 0 .5rem;

				&:first-child {
					margin-inline-start: 0;

					i {
						margin-inline-end: .5rem;
					}
				}

				&:last-child {
					margin-inline-end: 0;

					i {
						margin-inline-start: .5rem;
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(lg) {
	.subscribe-select-subscription {

		.btn-group {
			
			.product-option,
			.btn-check + .product-option {
				flex: 0 0 calc(50% - (#{$radio_option_gap_x} / 2));
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.subscribe-select-subscription {

		.btn-group {

			// NB: default Bootstrap radio button group styling suffers from an issue where all (hidden) radio inputs
			//     are absolutely positioned, meaning they're all stacked behind the first item
			//
			//     this becomes an issue on mobile as it's possible to scroll down a list of items rendered vertically,
			//     only for the associated radio button to become focused and cause the page to scroll back up
			.btn-check {
				position: static;
				height: $radio_input_height;
				z-index: -1;
			}

			.product-option,
			.btn-check + .product-option {
				flex: 0 0 100%;
				margin-top: calc(-#{$radio_input_height} - #{$radio_option_gap_x});
			}
		}
	}
}
