.responsive-media {
    $responsive-media: &;

    &__wrapper {
        background-size: 100% 100%;

        > #{$responsive-media}__image,
        > #{$responsive-media}__video {
            width: 100%;
            height: 100%;
        }

    }

    &__image {

    }

    &__video {

    }

}