.slippy-map {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 200px;
	
	.overhead-ui {
		position: absolute;
		bottom: 0;
		
		.zoom {
			margin: 0.5rem;
			display: block;
		}
	}
	
	.action-hotspots{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	
	.hotspot {
		position: absolute;
		
		> .spot-marker {
			transform: translateX(-50%) translateY(-50%);
			width: 110px;
			height: 126px;
			background: none;
			padding: 0;
			border: none;
			position: relative;
			top: 0;
			left: 0;
			
			> .fal {
				color: white;
				position: absolute;
				position: absolute;
				width: 100%;
				height: 90%;
				left: 0;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 2rem;
			}
			
		}
		
		> .open-marker {
			position: absolute;
			//visibility: hidden;
			z-index: -1;
			padding: 1rem 3rem 1rem 1rem;
			border-radius: 1rem;
			right: 100%;
			top: -50%;
			background: white;
			color: black;
			opacity: 0;
			transition: opacity 0.5s;
			min-width: 250px;

			> h1 {
				font-size: 24px;
				font-weight: bold !important;
				color: #3D3935;
			}

			> a {
				font-size: 14px;
				font-weight: bold;
				display: inline-flex;
				align-items: center;
				color: #3D3935;
				transition: all .2s ease;

				&::after {
					content: "\f138";
					margin-left: 12px;
				    font-weight: 300;
					font-family: "Font Awesome 5 Pro";
					font-size: 24px;
				}

				&:hover {
					color: #513f7d;

					.hotspot-cta {
						text-decoration: underline;
					}
				}
			}

		}
		
		&.is-open {
			.spot-marker {
				z-index: 3;
			}
			
			> .open-marker {
				opacity: 1;
				z-index: 2;
				visibility: visible;
			}
		}
		
	}

	+ .modal-backdrop {
		background: rgba(#000, .5);
		top: 0;
		height: 100%;
		z-index: 899; // display below header dropdown menus (@ z-index: 900)
	}

}

.slippy-map__instructions {
	font-weight: bold;
	font-size: px_to_rem(36);
	line-height: px_to_rem(46);
	max-width: 22.5vw;
	margin: 0 auto;
}

.modal--blue {
	top: 0;
	height: 100%;

	.modal-dialog {

		.modal-content {
			background-color: #00A4DC;
			color: #fff;
			min-height: px_to_rem(225);
			text-align: center;

			.modal-header {

				.close {
					background: transparent;
					border: 0;
				}
			}
		}

	}

}

@media only screen and (pointer: coarse) {

	.slippy-map {

		.overhead-ui {
			bottom: 4rem;
			left: 2rem;

			.zoom {
				padding: 1.25rem 1.5rem;

				> i {
					font-size: 1.5em;
				}
			}
		}

	}
}

@media only screen and (max-width: 767px) {

	.slippy-map {
		height: 100%;

		+ .modal-backdrop {
			top: 0;
			height: 100%;
		}

	}

	.modal--blue {
		top: 0;
		height: 100%;
	}

}

@include mq_mobile {

	.slippy-map__instructions {
		max-width: none;
	}

	.modal--blue {

		.modal-dialog {

			.modal-content {
				min-height: 0;
			}

		}

	}

}
