.password-reset-button {
	
	&__generate {
		margin-bottom: 1em;
	}

	&__code {
		display: inline-flex;
		align-items: center;
		gap: px_to_rem(10);
		user-select: all;
		padding: px_to_rem(6) px_to_rem(10);
		border-radius: px_to_rem(6);
		border: 2px dashed #222;

		> svg {
			width: px_to_rem(24);
			height: px_to_rem(24);
			flex-shrink: 0;
		}
	}
}
