.forgot-password{

	.checkbox-label {
		font-weight: 400;
	}
	
	.quicklinks{
		text-align: center;
		
		a{
			color: white;
			font-size: 1.3em;
		}
		
		a:hover,a:active{
			text-decoration:none;
		}
	}
  
}