.drafts-table {
	--ui-link-font-size: 13;
	font-size: px_to_rem(13);

	&__row {
	}

	&__link {
		--ui-link-font-size: 13;
		--btn-min-height: 28;
	}

	&__remove {
		--btn-min-height: 28;
	}

	&__col {
		font-size: px_to_rem(13);

		&--actions {
			padding-top: 0;
			padding-bottom: 0;

			&-internal {
				display: flex;
				align-items: center;
				gap: px_to_rem(8);
			}
		}
	}

	&__author {
		width: 20vw;
	}

	&__actions {
		width: 14vw;
		min-width: px_to_rem(160);
	}

}