@mixin popoverOpen() {
	box-shadow: px_to_rem(-16) 0 px_to_rem(16) 0 rgba(#210818, 25%);
	transform: none;
	visibility: visible;

	&:not(.ui-popover--bg-active)::backdrop {
		background-color: rgba(#210818, 25%);
	}

}

.ui-popover {
	--ui-popover-min-width: 90vw;
	--ui-popover-min-height: 75vh;
	--ui-popover-min-height: 75dvh;
	--ui-popover-max-width: #{px_to_rem(340)};
	--ui-popover-max-height: #{px_to_rem(600)};
	position: fixed;
	inset: 0;
	padding: px_to_rem(20);
	border: 0;
	box-shadow: none;
	transition-property: transform, box-shadow, overlay, display, visibility;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
	transition-behavior: allow-discrete;
	visibility: hidden;
	pointer-events: auto !important;
	color: var(--site-fg, #000);
	background: var(--site-bg, #fff);

	&--left {
		right: auto;
		width: 100vw;
		max-width: var(--ui-popover-max-width);
		height: 100vh;
		height: 100dvh;
		transform: translateX(-100%);

		&.ui-popover--under-header {
			top: var(--site-header-height, 0);
			height: auto;
		}

		&.ui-popover--under-subheader {
			height: auto;
		}

		&.ui-popover--above-footer {
			bottom: var(--site-footer-height, 0);
			height: auto;
		}

	}

	&--right {
		left: auto;
		width: 100vw;
		max-width: var(--ui-popover-max-width);
		height: 100vh;
		height: 100dvh;
		transform: translateX(100%);

		&.ui-popover--under-header {
			top: var(--site-header-height, 0);
			height: auto;
		}

		&.ui-popover--under-subheader {
			height: auto;
		}

		&.ui-popover--above-footer {
			bottom: var(--site-footer-height, 0);
			height: auto;
		}

	}

	&--top {
		bottom: auto;
		height: 100vh;
		height: 100dvh;
		max-height: var(--ui-popover-max-height);
		width: 100vw;
		transform: translateY(-100%);

		&.ui-popover--under-header {
			transform: translateY(calc(-1 * (var(--site-header-height, 0) + 100%)));
			top: var(--site-header-height, 0);
			height: auto;
		}

		&.ui-popover--under-subheader {
			height: auto;
		}

		&.ui-popover--above-footer {
			bottom: var(--site-footer-height, 0);
			height: auto;
		}

	}

	&--bottom {
		top: auto;
		height: 100vh;
		height: 100dvh;
		max-height: var(--ui-popover-max-height);
		width: 100vw;
		transform: translateY(100%);

		&.ui-popover--above-footer {
			transform: translateY(calc(var(--site-footer-height, 0) + 100%));
			bottom: var(--site-footer-height, 0);
			height: auto;
		}

	}

	&--center {
		max-width: 100vw;
		max-height: 100vh;
		max-height: 100dvh;
		min-width: var(--ui-popover-min-width);
		min-height: var(--ui-popover-min-height);
	}

	&--maximize {
		width: 100vw;
		height: 100vh;
		height: 100dvh;
	}

	&::backdrop {
		background-color: transparent;
		transition-property: background-color, overlay, display, visibility;
		transition-duration: .3s;
		transition-timing-function: ease-in-out;
		transition-behavior: allow-discrete;
	}

	// NB: for polyfill support
	// (do not combine with following rule)
	&.\:popover-open {
		@include popoverOpen();
	}

	&:popover-open {
		@include popoverOpen();
	}

	&--under-header {

		&::backdrop {
			top: var(--site-header-height, 0);
		}
	}

	&--under-subheader {

		&::backdrop {

		}

	}

	&--above-footer {

		&::backdrop {
			bottom: var(--site-footer-height, 0);
		}
	}

}

html.admin {

	.ui-popover {

		&--left {

			&.ui-popover--under-header {
				top: var(--admin-page__header-height, #{px_to_rem(60)});
			}

			&.ui-popover--under-subheader {
				top: calc(
					var(--admin-page__header-height, #{px_to_rem(60)}) +
					var(--admin-page__subheader-height, #{px_to_rem(72)})
				);
			}

			&.ui-popover--above-footer {
				bottom: var(--admin-page__footer-height, #{px_to_rem(60)});
			}

		}

		&--right {

			&.ui-popover--under-header {
				top: var(--admin-page__header-height, #{px_to_rem(60)});
			}

			&.ui-popover--under-subheader {
				top: calc(
					var(--admin-page__header-height, #{px_to_rem(60)}) +
					var(--admin-page__subheader-height, #{px_to_rem(72)})
				);
			}

			&.ui-popover--above-footer {
				bottom: var(--admin-page__footer-height, #{px_to_rem(60)});
			}

		}

		&--top {

			&.ui-popover--under-header {
				transform: translateY(calc(-1 * (var(--admin-page__header-height, #{px_to_rem(60)}) + 100%)));
				top: var(--admin-page__header-height, #{px_to_rem(60)});
			}

			&.ui-popover--under-subheader {
				top: calc(
					var(--admin-page__header-height, #{px_to_rem(60)}) +
					var(--admin-page__subheader-height, #{px_to_rem(72)})
				);
			}

			&.ui-popover--above-footer {
				bottom: var(--admin-page__footer-height, #{px_to_rem(60)});
			}

		}

		&--under-header {

			&::backdrop {
				top: var(--admin-page__header-height, #{px_to_rem(60)});
			}
		}

		&--under-subheader {

			&::backdrop {
				top: calc(
					var(--admin-page__header-height, #{px_to_rem(60)}) +
					var(--admin-page__subheader-height, #{px_to_rem(72)})
				);
			}
		}

		&--above-footer {

			&::backdrop {
				bottom: var(--admin-page__footer-height, #{px_to_rem(60)});
			}
		}

	}

}

@starting-style {

	.ui-popover {

		&.\:popover-open {
			box-shadow: none;

			&::backdrop {
				background-color: transparent;
			}
		}

		&:popover-open {
			box-shadow: none;

			&::backdrop {
				background-color: transparent;
			}
		}

		&--left {

			&.\:popover-open {
				transform: translateX(-100%);
			}

			&:popover-open {
				transform: translateX(-100%);
			}

		}

		&--right {

			&.\:popover-open {
				transform: translateX(100%);
			}

			&:popover-open {
				transform: translateX(100%);
			}

		}

		&--top {

			&.\:popover-open {
				transform: translateY(-100%);
			}

			&:popover-open {
				transform: translateY(-100%);
			}

		}

		&--bottom {

			&.\:popover-open {
				transform: translateY(100%);
			}

			&:popover-open {
				transform: translateY(100%);
			}

		}

		&--center {

			&.\:popover-open {
				transform: scale(.85);
			}

			&:popover-open {
				transform: scale(.85);
			}

		}

	}

}

@media only screen and (orientation: landscape) and (max-height: 599px) {

	.ui-popover {
		--ui-popover-min-width: 80vw;
		--ui-popover-min-height: 85vh;
		--ui-popover-min-height: 85dvh;
	}

}

@media only screen and (orientation: portrait) and (min-width: 600px) {

	.ui-popover {
		--ui-popover-min-width: #{px_to_rem(400)};
		--ui-popover-min-height: #{px_to_rem(400)};
	}

}

@media only screen and (orientation: landscape) and (min-height: 600px) {

	.ui-popover {
		--ui-popover-min-width: min(90vw, #{px_to_rem(800)});
		--ui-popover-min-height: min(80vh, #{px_to_rem(600)});
		--ui-popover-min-height: min(80dvh, #{px_to_rem(600)});
	}

}

#wrapper > header,
#content,
#content ~ footer {
	transition: filter .2s ease;
}

// example rules to support background blurring
// NB: your project may require additional rules based on markup
body[data-popover-blurred="true"] {

	#content {
		filter: blur(2px) grayscale(25%);
		pointer-events: none;
		user-select: none;

		~ footer {
			filter: blur(2px) grayscale(25%);
			pointer-events: none;
			user-select: none;
		}

	}

	.admin-page__internal {
		filter: blur(2px) grayscale(25%);
		pointer-events: none;
		user-select: none;
	}

	// additional rules to blur header if it's a full-height popover
	&[data-popover-full-height="true"] {

		#wrapper > header {
			filter: blur(2px) grayscale(25%);
			pointer-events: none;
			user-select: none;
		}

	}

}

body[data-scroll-fixed="true"] {
	position: fixed;
	top: calc(-1 * var(--page-scroll-y));
	width: 100%;
}

// opening popovers and docking scrolling potentially causes the header to appear off-screen on Firefox
@include mq_firefox {

	body[data-scroll-fixed="true"] {

		#react-root > #wrapper > header {
			transform: translateY(var(--page-scroll-y));
		}

	}

}