.multiinput {
	max-width: $admin-field-maxwidth;
	min-width: $admin-field-minwidth;
	position: relative;

	&__metadata {
		font-size:0.7rem;
	}

	&__entries {
		list-style: none;
		margin: 0 0 .5rem 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		gap: .75rem;

		&:empty {
			display: none;
		}
	}

	&__entry {
		background: var(--admin-subheader-bg, var(--fallback__admin-subheader-bg));
		color: var(--admin-subheader-fg, var(--fallback__admin-subheader-fg));
		border-radius: .25rem;
		padding: .5rem .75rem;
		//display: flex;
		align-items: center;
		//max-width: 15.625rem;
		gap: 0.5rem;
		display: flex; 

		p {
			margin: 0;
			font-size: .85rem;
		}

		&-options {
			flex: 0 0 auto;
			display: flex;
			gap: .5rem;
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		gap: .5rem;

		.btn-new-entry {
			flex: 0 0 auto;
		}
	}

	&__search {
		flex: 1 1 auto;

		&-max {
			font-size: .85rem;
			font-style: italic;
		}
	}

}
