// extra small (xs)
$default-btn-xs-min-height: 35;
$default-btn-xs-padding: 10;
$default-btn-xs-font-size: 13;
$default-btn-xs-font-weight: 400;
$default-btn-xs-border-radius: 5;
$default-btn-xs-icon: 10;
$default-btn-xs-gap: 10;

// small (sm)
$default-btn-sm-min-height: 40;
$default-btn-sm-padding: 20;
$default-btn-sm-font-size: 14;
$default-btn-sm-font-weight: 700;
$default-btn-sm-border-radius: 5;
$default-btn-sm-icon: 16;
$default-btn-sm-gap: 10;

// regular (md)
$default-btn-md-min-height: 45;
$default-btn-md-padding: 20;
$default-btn-md-font-size: 15;
$default-btn-md-font-weight: 700;
$default-btn-md-border-radius: 5;
$default-btn-md-icon: 20;
$default-btn-md-gap: 10;
	
// large (lg)
$default-btn-lg-min-height: 55;
$default-btn-lg-padding: 25;
$default-btn-lg-font-size: 18;
$default-btn-lg-font-weight: 700;
$default-btn-lg-border-radius: 5;
$default-btn-lg-icon: 22;
$default-btn-lg-gap: 10;

// extra large (xl)
$default-btn-xl-min-height: 65;
$default-btn-xl-padding: 25;
$default-btn-xl-font-size: 23;
$default-btn-xl-font-weight: 700;
$default-btn-xl-border-radius: 5;
$default-btn-xl-icon: 24;
$default-btn-xl-gap: 10;
