.admin-page {
	height: 100vh;
	height: 100dvh;

	.mce-content-body & {
		height: 1280px;
	}
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto 1fr;
	grid-template-areas: 
		"header"
		"impersonation"
		"body";

	&__internal {
		grid-area: body;
		min-height: 0;
		transition: margin-left 0.15s ease;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto auto;
		grid-template-areas:
			"subheader"
			"contentwrapper"
			"feedback"
			"footer";

		// centre sole loading / alert / landing components
		&:has(> .loading:only-child),
		&:has(> .alert:only-child),
		&:has(> .admin-landing:only-child) {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 var(--admin-page-padding, #{px_to_rem(20)});
		}

		> .alert:only-child {
			width: px_to_rem(750);
			max-width: 100%;
		}

		// handle autoforms
		&:has(> .ui-form:only-child) {
			grid-template-rows: 1fr;
			grid-template-areas: "formwrapper";

			> .ui-form {
				grid-area: formwrapper;
				min-height: 0;
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: auto 1fr auto auto;
				grid-template-areas:
					"subheader"
					"contentwrapper"
					"feedback"
					"footer";
			}

		}

		// limit width of form fields
		:where(.input-group, .form-select, .form-control, .ui-divider) {

			// exclude if hosted within header / footer
			&:not(.admin-page__subheader *, .admin-page__footer *) {
				max-width: 50vw;
				min-width: px_to_rem(400);
			}

		}

		// get selected content panels to match width of select
		.content-select > .selected-content {
			width: 100%;
			max-width: 50vw;
			min-width: px_to_rem(100);
		}

		// account for someone dropping in a single element into the page
		// which isn't part of the usual AdminPage suite of components
		&:has(> *:only-child:not(.loading, .alert, .ui-form, .admin-page__content-wrapper, .admin-page__content)) {
			grid-template-areas: "contentwrapper";

			> *:only-child {
				grid-area: contentwrapper;
				width: 100%;
				min-height: 0;
				overflow-y: auto;
				grid-template-areas: "contentwrapper";

				// recommended, but up to the author of the other element
				//padding: 0 var(--admin-page-padding, #{px_to_rem(20)});
			}

		}

		// check for subheader + random element
		// (also accounts for subheader / random element / footer)
		&:has(> .admin-page__subheader:first-child):has(> *:nth-child(2):not(.loading, .alert, .ui-form, .admin-page__content-wrapper, .admin-page__content)) {
			grid-template-areas:
				"subheader"
				"contentwrapper";

			> *:nth-child(2) {
				grid-area: contentwrapper;
				width: 100%;
				min-height: 0;
				overflow-y: auto;
			}

			// also includes a footer?
			&:has(> .admin-page__footer:nth-child(3)) {
				grid-template-areas:
					"subheader"
					"contentwrapper"
					"footer";
			}

		}

		// check for random element + footer
		&:has(> *:first-child:not(.loading, .alert, .ui-form, .admin-page__content-wrapper, .admin-page__content)):has(> .admin-page__footer:nth-child(2)) {
			grid-template-areas:
				"contentwrapper"
				"footer";

			> *:first-child {
				grid-area: contentwrapper;
				width: 100%;
				min-height: 0;
				overflow-y: auto;
			}
		}

	}

	&__select-param-modal {

		.internal-footer {
			display: flex;
			justify-content: flex-end;
			gap: .5rem;
		}

		.modal-footer {
			display: none;
		}
	}

	.localized-field-label,
	.hint-field-label {
		margin-left: 5px;
		opacity: .75;
	}

	+ .empty-canvas-node {
		display: none;
	}

	&__save {

		.dropdown-menu {
			width: px_to_rem(330);

			> li {
				margin-bottom: .5rem;

				.dropdown-item {
					text-wrap: wrap;

					strong {
						font-size: px_to_rem(15);
						display: flex;
						align-items: center;
						gap: .25rem;

						.responsive-media__image {
							width: px_to_rem(15);
							height: px_to_rem(15);
						}
					}

					p {
						font-size: px_to_rem(13);
						margin: 0;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

}

html:has(.admin-page) {
	overflow: hidden;

	body {
		overflow: hidden;
	}
}
