/*
	Global style rules go in here.
	- The 30 indicates load order - you can change it if you want (100 is the implied default)
	- You can add multiple scss files for tidiness if you'd like. They'll all be included by default

	NB: SASS variables should be entered into Variables.10.scss
*/

html {

	body {
		// potential fix for iOS text size increase
		-webkit-text-size-adjust: 100%;
	}

	// Identify a frontend (mobile app build too):
	&.ui {
	}

	// Identify a mobile app build:
	&.mobile {
	}

	// running on a mobile device:
	&.device-mobile {
	}

	// running on an iPad
	&.device-ipad {
	}

	// running on a tablet
	&.device-tablet {
	}

	// Identify a frontend but not the app build:
	&.web {
	}

	// Identify the admin panel:
	&.admin {
		// NB: admin-specific rules should be defined within Admin/Source/GeneralStyle
	}

	// define rules which shouldn't be applied for admin views
	&:not(.admin),
	&.admin.fullscreen-preview {

		/* uncomment if site footer should always appear at the bottom of the view (by using margin-top: auto)
		// required to allow site footer to use margin-top: auto
		#react-root {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
		}
		*/
	}
}
