// styles used by UI/Button can be overridden by updating the relevant CSS prop below
// defaults will be used for any undefined values
/*
:root {
	// shared styles (non size-specific)
	--ui-link-color: var(--primary);
	--ui-link-hover: var(--primary-hover);
	--ui-link-text-decoration: none;

	// extra small (xs)
	--ui-link-xs-font-size: 13;
	--ui-link-xs-font-weight: 400;
	--ui-link-xs-icon: 10;
	--ui-link-xs-gap: 10;

	// small (sm)
	--ui-link-sm-font-size: 15;
	--ui-link-sm-font-weight: 400;
	--ui-link-sm-icon: 20;
	--ui-link-sm-gap: 10;

	// regular (md)
	--ui-link-md-font-size: 16;
	--ui-link-md-font-weight: 700;
	--ui-link-md-icon: 22;
	--ui-link-md-gap: 10;

	// large (lg)
	--ui-link-lg-font-size: 18;
	--ui-link-lg-font-weight: 700;
	--ui-link-lg-icon: 24;
	--ui-link-lg-gap: 10;

	// extra large (xl)
	--ui-link-xl-font-size: 20;
	--ui-link-xl-font-weight: 700;
	--ui-link-xl-icon: 26;
	--ui-link-xl-gap: 12;
}
*/