/*
	SASS variable definitions
	please refer to UI/Source/ThirdParty/GlobalStyle/global-variables.5.scss for defaults

	** project-specific overrides and additional variables should be defined here **
*/


/*
 * socialstack project palette - TO MAKE ALTERATIONS WHICH AFFECT ALL PROJECTS, USE $socialstack_default_palette within ThirdParty\GlobalStyle\global-variables.5.scss
 * CSS values should be held in the following structure:
 *
 *  key: "base level value",
 *  categoryName: (
 *      key: "category level value",
 *	)
 * NB: WORK IN PROGRESS
 */
$socialstack_project_palette: (
	// example palette entries
	/*
	blue: #3665f3,
	darkGrey: #111820,
	*/

	// bootstrap colour palette overrides
	/*
    primary: (
        color: #fff,
        background-color: #007bff
    ),
    secondary: (
        color: #fff,
        background-color: #6c757d
    ),
    success: (
        color: #fff,
        background-color: #28a745
    ),
    danger: (
        color: #fff,
        background-color: #dc3545
    ),
    warning: (
        color: #212529,
        background-color: #ffc107
    ),
    info: (
        color: #fff,
        background-color: #17a2b8
    ),
    light: (
        color: #212529,
        background-color: #f8f9fa
    ),
    dark: (
        color: #fff,
        background-color: #343a40   
    )
	*/
);

// DEPRECATED
$base_font_size: 16; // in px
//$base_font_size: get_value(baseFontSize, typography);

/*
 * socialstack project theme - FOR GLOBAL DEFAULTS, REFER TO $socialstack_default_theme within ThirdParty\GlobalStyle\global-variables.5.scss
 * CSS values should be held in the following structure:
 *
 *  key: "base level value",
 *  categoryName: (
 *      key: "category level value",
 *      contextName: (
 *          key: "context level value",
 *          subContextName: (
 *              key: "subcontext level value"
 *			)
 *		)
 *	)
 *
 * NB: WORK IN PROGRESS
 */
$socialstack_project_theme: (
	//version: 2,
	//font-size: 16,

    // bootstrap defaults
    bootstrap: (
    /*
        alert: (
            border-radius: 0,
			success: (
				color: #05823f,
				background-color: #ccfdce,
				border-color: #05823f
			),
			danger: (
				color: #e62048,
				background-color: #ffd1dd,
				border-color: #e62048
			),
			warning: (
				color: #f7b500,
				background-color: #fcf2bd,
				border-color: #f7b100
			)
        ),
		badge: (
			padding: px_to_rem(2) px_to_rem(8),
		    //font-size: 75%,
			//font-weight: 700,
			border-radius: 0,
			primary: (
				color: #fff,
				background-color: #3665f3
			)
		),
		modal: (
			header: (
				border-bottom-width: 0
			)
		),
		pagination: (
		    //justify-content: center, // flex-start / flex-end
			linkSpacing: .5rem, // horizontal spacing between links
			//showInput: false, // show input field in preference to individual links
		    //maxLinks: 5, // max links to show
			minSize: 3rem,
		    //firstIcon: 'far fa-arrow-to-left',
			//prevIcon: 'far fa-arrow-left',
			//nextIcon: 'far fa-arrow-right',
			//lastIcon: 'far fa-arrow-to-right',
			color: get_palette(darkGrey),
		    background-color: #fff,
			padding: .5rem .75rem,
			border-width: 2px,
			border-color: transparent,
			border-radius: 0,
			active: (
				color: #3665f3,
				background-color: #fff,
				border-color: #3665f3
			),
			disabled: (
				color: #6c757d,
				background-color: #fff,
				border-color: transparent
			)
		),
		spinners: (
			width: 4rem,
			height: 4rem,
			border-width: .25em,
			border-color: #eee,
			border-right-color: #3665f3,
			animation-duration: 1.25s
		)
    )
    */
);

// optional overrides for automated responsive values for for font sizes, paddings, margins and much more
// defined within UI/Source/GlobalStyle/global-typography.25.scss
//-------------------------------------------------------------------------------------------------------

// Disable RFS by setting $enable-rfs to false
// $enable-rfs: false;

// Base value
//$rfs-base-value: 1.25rem;
//$rfs-unit: rem;

// Breakpoint at where values start decreasing if screen width is smaller
//$rfs-breakpoint: 1600px;
//$rfs-breakpoint-unit: px;

// Resize values based on screen height and width
//$rfs-two-dimensional: false;

// Factor of decrease
//$rfs-factor: 10;

// Mode. Possibilities: "min-media-query", "max-media-query"
//$rfs-mode: min-media-query;

// Generate enable or disable classes. Possibilities: false, "enable" or "disable"
//$rfs-class: disable;

// 1 rem = $rfs-rem-value px
//$rfs-rem-value: 16;

// Safari iframe resize bug: https://github.com/twbs/rfs/issues/14
//$rfs-safari-iframe-resize-bug-fix: true !default;


// DEPRECATED - ideally colours should be defined within
// $socialstack_project_palette (see above)

// colour scheme
$theme_grey: #767676;
$theme_light_grey: #f0f0f0;
$theme_dark_grey: #111820;

$theme_blue1: #cfe5fb;
$theme_blue2: #93c9ff;
$theme_blue3: #659eff;
$theme_blue4: #3665f3;
$theme_blue5: #382aef;
$theme_blue6: #2b0eaf;
$theme_blue7: #121258;
$theme_highlight_bg: #cceaff;
$theme_highlight_fg: $theme_blue7;

$theme_blue: $theme_blue4;
$theme_dark_blue: #261f7a;
$theme_light_blue: $theme_blue3;

$theme_yellow: #fcf2bd;

$theme_purple: #82187c;
$theme_mid_purple: #2b0eaf;
$theme_light_purple: $theme_blue5;
$theme_hover: lighten($theme_grey, 50%);

$theme_active: #5ee471;
$theme_inactive: #e45e5e; // guesstimate

$site_bg: #fff;

// DEPRECATED - Bootstrap-specific changes due to be
// controlled in future builds via a custom Bootstrap build
//$badge_bg: $theme_blue4;
//$badge_fg: #fff;
//$badge_border_radius: 0;
//$badge_padding_x: 8;
//$badge_padding_y: 2;

// fonts
$theme_font_family: Arial, sans-serif;
$title_font_family: $theme_font_family;
$title_font_weight: 700;
$serif_font_family: Garamond, serif;
$serif_font_weight: 400;
$regular_font_family: $theme_font_family;
$regular_font_weight: 400;
$bold_font_family: $theme_font_family;
$bold_font_weight: 700;
$light_font_family: $theme_font_family;
$light_font_weight: 400;
$secondary_font_family: "ArialMT", Arial, sans-serif;

// buttons
$theme_primary_btn_bg: $theme_blue4;
$theme_primary_btn_fg: #fff;
$theme_primary_btn_font_size: 1rem;
$theme_primary_btn_font_size_lg: 1rem;
$theme_primary_btn_font_size_sm: 0rem + 14/$base_font_size;
$theme_primary_btn_font_weight: bold;
$theme_primary_btn_border: 1px solid transparent;
$theme_primary_btn_border_radius: 2rem;
$theme_primary_btn_border_radius_lg: 2rem;
$theme_primary_btn_border_radius_sm: 2rem;
$theme_primary_btn_padding: .75rem 4rem;
$theme_primary_btn_padding_lg: .75rem 4rem;
$theme_primary_btn_padding_sm: .5rem 2rem;
$theme_primary_btn_hover_bg: darken($theme_primary_btn_bg, 10%);
$theme_primary_btn_hover_fg: darken($theme_primary_btn_fg, 10%);
$theme_primary_btn_hover_border: 1px solid transparent;
$theme_primary_btn_active_bg: darken($theme_primary_btn_bg, 20%);
$theme_primary_btn_active_fg: darken($theme_primary_btn_fg, 20%);
$theme_primary_btn_active_border: 1px solid transparent;

$theme_secondary_btn_bg: #fff;
$theme_secondary_btn_fg: $theme_blue4;
$theme_secondary_btn_font_size: 1rem;
$theme_secondary_btn_font_size_lg: 1rem;
$theme_secondary_btn_font_size_sm: 0rem + 14/$base_font_size;
$theme_secondary_btn_font_weight: bold;
$theme_secondary_btn_border: 1px solid $theme_blue4;
$theme_secondary_btn_border_radius: 2rem;
$theme_secondary_btn_border_radius_lg: 2rem;
$theme_secondary_btn_border_radius_sm: 2rem;
$theme_secondary_btn_padding: .75rem 4rem;
$theme_secondary_btn_padding_lg: .75rem 4rem;
$theme_secondary_btn_padding_sm: .5rem 2rem;
$theme_secondary_btn_hover_bg: darken($theme_secondary_btn_bg, 10%);
$theme_secondary_btn_hover_fg: darken($theme_secondary_btn_fg, 10%);
$theme_secondary_btn_hover_border: 1px solid darken($theme_blue4, 10%);
$theme_secondary_btn_active_bg: darken($theme_secondary_btn_bg, 20%);
$theme_secondary_btn_active_fg: darken($theme_secondary_btn_fg, 20%);
$theme_secondary_btn_active_border: 1px solid darken($theme_blue4, 20%);

// modals
// overrides for bootstrap modal defaults
$theme_modal_backdrop: #fff;
$theme_modal_backdrop_opacity: .85;
$theme_modal_bg: #fff;
$theme_modal_fg: #444;
$theme_modal_border: 0;
$theme_modal_border_radius: 0;
$theme_modal_box_shadow: 0 0 34px 0px rgba(0,0,0,.425);
$theme_modal_header_height: 64px;
$theme_modal_close_bg: $theme_blue4;
$theme_modal_close_fg: #fff;
$theme_modal_close_font_size: 20;

// form styling
$ss_form_field_bg: #f5f5f5;
$ss_form_field_fg: $theme_grey;
/*
$ss_form_field_border: 1px solid #e5e5e5;
$ss_form_field_font_family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Helvetica Neue", Helvetica, sans-serif;
$ss_form_field_font_weight: normal;
$ss_form_field_padding_x: 16;
$ss_form_field_padding_y: 9;
$ss_form_field_font_size: 14;
$ss_form_field_border_radius: $ss_form_field_font_size / 2;
*/
//$ss_form_field_background_position: right .5rem top 50%;
//$ss_form_field_background_size: 1.5em;
$ss_form_field_label: $theme_dark_grey;
$ss_form_field_label_font_size: 14;
$ss_form_field_label_font_weight: bold;
//$ss_form_field_label_hidden: true;
$ss_form_field_icon: #777777;
//$ss_form_field_size: 32;
$ss_form_field_placeholder: $theme_grey;
$ss_form_field_placeholder_style: normal;
//$ss_form_field_placeholder_weight: normal;

// links
$theme_link_fg: $theme_blue4;
$theme_link_weight: bold;
$theme_link_decoration: none;
$theme_link_hover_fg: darken($theme_link_fg, 5%);
$theme_link_hover_decoration: underline;
$theme_link_active_fg: darken($theme_link_fg, 10%);

// z-indexes
//$zindex_dropdown: 900;
$zindex_fixed_header: 1000;
$zindex_fixed_footer: 2000;

// notification indicator
$theme_notification_bg: #e62048;
$theme_notification_fg: #fff;
$theme_notification_border: 2px solid #fff;
