.admin-dashboard--stdout {

}

.admin-dashboard__stdout {
    background: #000;
    font-family: var(--font-mono);
	font-size: px_to_rem(14);
    color: #fff;
    padding: px_to_rem(20);
	margin-bottom: px_to_rem(20);
    
	p {
		color: #fff;
	}

	.stdout-tag {
		display: inline-block;
		padding: px_to_rem(6) px_to_rem(8);
		border-radius: px_to_rem(4);
		margin-bottom: px_to_rem(8);

		&--ok {
			background: green;
			color: #fff;
		}

		&--info {
			background: darkblue;
			color: #fff;
		}

		&--warn {
			background: orange;
			color: #222;
		}

		&--error,
		&--fatal {
			background: red;
			color: #fff;
		}

	}
	
	.file-highlight {
		background:#0d6efd;
		color:#fff;
		border-radius: px_to_rem(4);
		display: inline;
		padding: px_to_rem(2) px_to_rem(4);
		margin-left: px_to_rem(5);
		cursor:pointer;

		&:hover {
			background: #0c63e4;
		}

		i {
			margin-right: px_to_rem(5);
			margin-left: px_to_rem(5);
		}
	}

	.log-entry {
		border-bottom: 1px solid #222;
		margin-bottom: px_to_rem(20);
	}

	&-filters {

		.admin-page__filters-internal {
			padding-top: px_to_rem(10);
		}

		.group {

			> p:first-child {
				font-weight: 700;
			}

		}
	}
}
