:root {
	--richeditor-buttonbar-left: 0;
	--richeditor-buttonbar-top: 0;
}

.RichEditor-wrapper {
	.url-input-modal {
		position: absolute;
		top: 30%;
		left: 30%;
		z-index: 1000;
		background-color: rgba(50,50,50,0.3);
		padding: 10px 20px;

		.confirm-link {
			margin-left: 2px;
		}
	}

	.link-btns {
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(0, -50px);

		.add-link-btn, .remove-link-btn {
			display: inline-block;
		}
	}
}

.RichEditor {

	&__icons {
		display: none;
	}

	&-buttonbar {
		position: absolute;
		left: var(--richeditor-buttonbar-left);
		top: var(--richeditor-buttonbar-top);
		z-index: 2147483646; // NB: leaves room for link modal to display above
		display: none;
		grid-template-rows: auto auto;
		grid-template-columns: auto auto;
		border-radius: .25rem;
		padding: .25rem .375rem;
		position: fixed;
		box-shadow: rgb(0 0 0 / 30%) 0 0 10px 3px;
		background: var(--admin-dropdown-bg, var(--fallback__admin-dropdown-bg));
		color: var(--admin-dropdown-fg, var(--fallback__admin-dropdown-fg));
		font-size: .875rem;
		font-family: Nunito, sans-serif;

		&-icon {
			width: 1.5rem;
			height: 1.5rem;
		}

	}

	&-controls {
		font-family: 'Helvetica', sans-serif;
		font-size: 14px;
		margin-block-end: 5px;
		user-select: none;
		display: flex;
		align-items: center;
		gap: .25rem;

		&:last-child {
			margin-block-end: 0;
		}

		&:nth-child(1) {
			grid-column: 1 / 3;
			grid-row: 1;
		}

		&:nth-child(2) {
			grid-column: 1;
			grid-row: 2;
		}

		&:nth-child(3) {
			grid-column: 2;
			grid-row: 2;
		}
	}
	
	&-styleButton {
		color: #999;
		cursor: pointer;
		padding: .25rem .5rem;
		min-width: 1.5rem;
		min-height: 1.75rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		//border: 1px solid transparent;
		//border-color: red;
		transition: border-color .2s ease;

		&:not(.RichEditor-disabledButton):hover {
			background: var(--admin-dropdown-hover-bg, var(--fallback__admin-dropdown-hover-bg));
			color: var(--admin-dropdown-hover-fg, var(--fallback__admin-dropdown-hover-fg));
		}

		&.RichEditor-disabledButton {
			opacity: .5;
		}

	}

	&-activeButton {
		background: var(--admin-selected-border, var(--fallback__admin-selected-border)) !important;
		color: var(--admin-selected-fg, var(--fallback__admin-selected-fg)) !important;
		//color: #5890ff;
	}

	&-editor {
		cursor: text;

		.public-DraftEditor-content {
			min-height: 1rem;
		}
		
		.RichEditor-blockquote {
			border-left: 5px solid #eee;
			color: #666;
			font-family: 'Hoefler Text', 'Georgia', serif;
			font-style: italic;
			margin: 16px 0;
			padding: 10px 20px;
		}
		
		.public-DraftStyleDefault-pre {
			background-color: rgba(0, 0, 0, 0.05);
			font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
			font-size: 16px;
			padding: 20px;
		}

		.align-right div {
			text-align: right;
		  }
		  .align-center div {
			text-align: center;
		  }
		  .align-left div {
			text-align: left;
		  }

	}
	
	&-hidePlaceholder .public-DraftEditorPlaceholder-root {
		display: none;
	}

}

.canvas-editor-popups{

	.context-menu {
		max-height: 300px;
		overflow-y: auto;
	}
	

	.module-select-modal, .module-link-selection-modal{
		.module-group{
			margin-bottom: 10px;
		}
	
		.module-tile{
			border: 1px solid lightgrey;
			border-radius: 4px;
			text-align: center;
			padding: 20px;
			
			&:hover{
				cursor:pointer;
			}
		}
	}
	
}

.rich-editor{
	border: 1px solid #e5e5e5;
	background: white;
	border-radius: 2px;
	
	> .rte-toolbar{
		background: #f2f2f2;
		position: sticky;
		z-index: 998;
		top: 0px;
		padding: 5px;
		
		button {
			border: none;
			background: none;
			margin: 2px;
			
			&.active {
				background: lightgrey;
			}
		}
		
		.rte-submenu-container{
			position: relative;
		}
		
		.rte-submenu {
			left: 0;
			min-width: 200px;
			max-width: 300px;
			position: absolute;
			border: 1px solid lightgrey;
			background: white;
			padding: 5px;
		}
		
		.highlighted-node-bar{
			&.highlight-locked{
				color: black;
			}
			
			&.highlight-open{
				color: lightgrey;
			}
			
			.fa-angle-left{
				margin: 0px 10px;
			}
		}
	}
	
	.context-menu{
		background: white;
		color: black;
		border: 1px solid lightgrey;
		padding: 10px;
		position: fixed;
		z-index: 1;
		
		.context-btn{
			display: block;
			background: none;
			border: none;
			margin-bottom: 10px;
			
			i{
				color: lightgrey;
				margin-right: 5px;
			}
			
			&:hover{
				cursor: pointer;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	> .rte-content{
		padding: 1px; /* Space for outlines to show */
		transform: scaleX(1); /* position: fixed is relative to transforms too, so we can use this to contain them */
	}
}

.richeditor-modal {
	top: var(--richeditor-buttonbar-top);
	z-index: 2147483647;

	> .modal-dialog {
		min-height: 0 !important;
		height: auto !important;
	}

	&-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;

		> div {
			display: flex;
			align-items: center;
			gap: .5rem;
		}
	}

	.modal-footer {
		display: none;
	}

}