$paginator_justify_content: center;

.paginator {
	width: 100%;
	display: none;

	&--mobile {
		display: block;
	}

	// NB: Bootstrap-specific .pagination overrides are set within global-bootstrap.55.scss
	// (based in turn on project-specific settings from $socialstack_project_theme and fallbacks set in $socialstack_default_theme)
	
	/*
	input{
		border: 1px solid lightgrey;
		width: 3em;
		padding: 5px;
	}
	
	.nav-before{
		padding-right: 10px;
	}
	
	.nav-after{
		padding-left: 10px;
	}
	
	i{
		color: #2A3F54;
		margin: 10px;
		
		&:hover{
			cursor: pointer;
		}
	}
	*/

	.pagination-overview {

		@if ($paginator_justify_content == center) {
			text-align: center;
		}

		@if ($paginator_justify_content == flex-start) {
			text-align: left;
		}

		@if ($paginator_justify_content == flex-end) {
			text-align: right;
		}

		.form-control {
			margin: 0 .5rem;
			display: inline-block;
			width: 5rem;
			min-width: 0;
		}

	}
	
}

// >= 768px
@include media-breakpoint-up(md) {

	.paginator {
		display: block;

		&--mobile {
			display: none;
		}

	}

}
