.shopping-cart__total {
	display: flex;
	flex-direction: column;
	gap: px_to_rem(12);
	padding: px_to_rem(20);
	border-radius: px_to_rem(8);
    border: 1px solid #ced4da;
	background: var(--ui-payment-carttotal-background, #e8e8e8);

	&-rows {
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: px_to_rem(12);
	}

	&-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: px_to_rem(12);
		margin: 0;
		font-size: px_to_rem(15);

		&--grand {
			font-size: px_to_rem(21);
			font-weight: 700;
			border-top: 1px solid rgba(0 0 0 / .25);
			padding-top: .5em;
		}

	}

	&-cta {
		margin-top: px_to_rem(20);
		display: flex;
		justify-content: flex-end;
		gap: 1rem;
	}

}

.empty-cart-modal {

	footer {
		display: flex;
		justify-content: flex-end;
		margin-top: 2rem;
		gap: .5rem;
	}

	.modal-footer {
		display: none;
	}

}

.payment-checkout {

	.shopping-cart__total {
		max-width: px_to_rem(500);
		margin-left: auto;
	}

}