.shopping-cart__total {
	//background-color: #e8e8e8;
	padding: px_to_rem(20);
	border-radius: px_to_rem(8);
    border: 1px solid #ced4da;

	&-rows {
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: px_to_rem(12);
	}

	&-row {
		display: flex;
		align-items: center;
		justify-content: space-between;

		dt, dd {
			font-size: px_to_rem(15);
			font-weight: normal;
			margin: 0;
		}

		&--inc-vat {

			dt, dd {
				font-size: px_to_rem(21);
			}

		}

	}

	&-cta {
		margin-top: px_to_rem(20);
		display: flex;
		justify-content: flex-end;
		gap: 1rem;
	}

}

.empty-cart-modal {

	footer {
		display: flex;
		justify-content: flex-end;
		margin-top: 2rem;
		gap: .5rem;
	}

	.modal-footer {
		display: none;
	}

}
