.panelled-editor {

	&__external-link {
		display: flex;
		align-items: center;
		gap: .25rem;
		color: currentColor;

		> code {
			font-size: .875rem;
		}

		> .fa::before {
			 content: "\f35d";
		}
	}

	.is-draft{
		text-transform: uppercase;
		margin-left: 1rem;
	}

	&__content-wrapper {
		width: 100%;
		height: calc(100vh 
			- var(--admin-header-height, $fallback__admin-header-height)
			- var(--admin-subheader-height, $fallback__admin-subheader-height)
			- var(--admin-feedback-height, 0px)
			- var(--admin-footer-height, $fallback__admin-footer-height));
		//background: var(--admin-subheader-bg, var(--fallback__admin-subheader-bg));
		//color: var(--admin-subheader-fg, var(--fallback__admin-subheader-fg));
		background: var(--admin-subheader-bg, var(--fallback__admin-subheader-bg));
		box-shadow: 0 0 0 100vmax rgba(255,255,255,.5) inset;

		> form {
			background: rgba(255,255,255,.25);
		}
	}

	&__content {
		display: flex;
		flex-wrap: nowrap;
		height: 100%;
	}

	&__structure {
		$panelled-editor__structure: &;
		flex: 0 0 250px;
		box-shadow: 6px 0 5px var(--admin-subheader-bg, var(--fallback__admin-subheader-bg));
		padding: 0 0 .5rem 0;

		&--hidden {
			display: none;
		}

		&-items {
			list-style: none;
			margin: 0;
			padding: 0 .25rem;
			height: 100%;
			border-radius: $input-border-radius;
			border: 1px solid var(--admin-field-border, var(--fallback__admin-field-border));
			background-color: var(--admin-field-bg, var(--fallback__admin-field-bg));
			overflow: auto;
		}

		&-item {
			border-bottom: 1px solid rgba(0,0,0,.15);
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			padding-right: .25rem;

			.collapsible {
				width: 100%;

				.collapsible-summary {
					padding: 0.375rem 0;
					border: 0;
					align-items: stretch;

					.collapsible-title {
						font-size: .875rem;
						margin-inline-end: .5rem;
					}

					.btn-outline-danger {
						padding: .125rem .25rem;
						border-radius: .25rem;
						font-size: .75rem;
						margin-left: auto;
					}

					.buttons .btn {
						height: 100%;
					}
				}

				.collapsible-content {
					padding: 0 0 0 1.6rem;
					border: 0;

					&__wrapper--selected {
						background: var(--admin-selected-bg, var(--fallback__admin-selected-bg));
						color: var(--admin-selected-fg, var(--fallback__admin-selected-fg));
					}
				}

			}

			&:last-child {
				border-bottom: 0;
			}

			.btn-remove {
			    padding: .125rem .25rem;
				border-radius: .25rem;
				font-size: .75rem;
				margin-left: auto;
			}

			&--selected {
				background: var(--admin-selected-bg, var(--fallback__admin-selected-bg));
				color: var(--admin-selected-fg, var(--fallback__admin-selected-fg));
			}

		}

		button#{$panelled-editor__structure}-item-text {
			padding-left: 1.6875rem;
			font-size: .875rem;
			font-weight: bold;
			text-align: left;
			flex: 1 0 auto;
			color: var(--admin-field-fg, var(--fallback__admin-field-fg));
		}

		.collapsible-summary {
			color: var(--admin-field-fg, var(--fallback__admin-field-fg));
		}

	}

	&__structure-tabs {
		list-style: none;
		margin: 0;
		padding: 0 16px;
		display: flex;
		flex-wrap: nowrap;
	}

	&__structure-tab {
		padding: 0.375rem 0.75rem;
		margin-left: -.75rem;
		margin-bottom: .5rem;

		> button {
			font-weight: 200;
			padding: 0;
			border-bottom: 2px solid transparent;
			color: currentColor;

			&:hover {
				color: currentColor;
			}
		}

		&--active {

			> button {
				font-weight: bold;
				border-bottom-color: currentColor;
			}

		}

		&--close {
			margin-left: auto;
			padding: 0;

			button {
				padding: 0.375rem 0.75rem;
			}
		}

	}

	&__structure-tab-content {
		height: calc(100% - 47px + 8px);
		padding: 0 16px 8px 16px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	&__preview {
		flex: 1 1 auto;
		overflow-y: auto;
		background: var(--admin-transparency-bg, var(--fallback__admin-transparency-bg));
		padding: 2rem;
		z-index: 1; // prevents left-hand box-shadow from __properties sidebar encroaching on vertical scrollbar

		> div > .mb-3 {
			margin-bottom: 0 !important;

			> .form-label {
				display: none;
			}
		}
	}

	&__properties {
		flex: 0 0 300px;
		box-shadow: -6px 0 5px var(--admin-subheader-bg, var(--fallback__admin-subheader-bg));
		padding: 0 0 .5rem 0;

		&--hidden {
			display: none;
		}
	}

	&__property-tabs {
		list-style: none;
		margin: 0;
		padding: 0 16px;
		display: flex;
		flex-wrap: nowrap;
	}

	&__property-tab {
		padding: 0.375rem 0.75rem;
		margin-left: -.75rem;
		margin-bottom: .5rem;

		> button {
			font-weight: 200;
			padding: 0;
			border-bottom: 2px solid transparent;
			color: currentColor;

			&:hover {
				color: currentColor;
			}
		}

		&--active {

			> button {
				font-weight: bold;
				border-bottom-color: currentColor;
			}

		}

		&--close {
			margin-left: auto;
			padding: 0;

			button {
				padding: 0.375rem 0.75rem;
			}
		}

	}

	&__property-tab-content {
		height: calc(100% - 47px + 8px);
		padding: 0 16px;
		overflow: auto;
	}
	
	.localized-field-label, 
	.hint-field-label{
		margin-left: 5px;
		opacity: .75;
	}
	
	.createDraft{
	}
	
	.rich-editor .rte-toolbar {
		top: 78px;
	}
}

html.admin--page-editor {

	body {
		overflow: hidden;
	}

	#react-root {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		.panelled-editor {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;

			&__content-wrapper {
				flex: 1 1 auto;
			}

			&__content {
				height: 100%;
			}

		}
	}
}