.manage-product {

	table {
		table-layout: fixed;

		th.col--btn {
			width: 110px;
		}

		td {
			vertical-align: middle;
		}

	}

	&__title {
		margin-top: 2rem;
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.btn {
			margin-left: .5rem;
		}
	}

	.modal {

		.modal-content {
			height: 100%;
		}

		.modal-title h5 {
			margin-bottom: 0;
		}

		.modal-body {
			overflow: hidden;
			height: 100%;
			max-height: none;
		}

		.modal__internal-footer {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: .5rem;
			flex: 0 0 50px;
		}

		.modal-footer {
			display: none;
		}

	}

}

html.no-flexgap {

	.manage-product {

		.modal {

			.modal__internal-footer {

				> * {
					margin: .25rem;

					&:first-child {
						margin-inline-start: 0;
					}

					&:last-child {
						margin-inline-end: 0;
					}
				}
			}
		}
	}
}