// DEPRECATED - fallback values for CSS vars
$fallback__admin-header-height: 4.375rem; // 70px
$fallback__admin-subheader-height: 4rem;

$admin-field-maxwidth: 50vw;
$admin-field-minwidth: 400px;
