.huddle-chat__header {
	overflow: hidden;
	padding: 16px 24px;
	background: var(--huddle-header-bg, transparent);
	color: var(--huddle-header-fg, #fff);
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: visible;
	min-height: $huddle-chat-header;

	h1 {
		color: var(--huddle-header-fg, #fff);
	}

	&-info {
	}

	&-controls {
		display: flex;
		align-items: center;
	}

	&-audience,
	&-conversation {
		background: var(--huddle-header-btn-bg, transparent);
		color: var(--huddle-header-btn-fg, #fff);
		border: var(--huddle-header-btn-border, 1px solid #fff);

		&:not(.btn--active):hover {
			background: var(--huddle-header-btn-bg-hover, #444);
			color: var(--huddle-header-btn-fg-hover, #fff);
		}

		&.btn--active {
			background: var(--huddle-header-btn-bg-active, var(--primary));
			color: var(--huddle-header-btn-fg-active, var(--primary-fg));
		}

	}

	&-reactions,
	&-options {

		.dropdown-toggle {
			text-decoration: none;

			&:hover {
				background: #444;
			}
		}

		.dropdown__left {
			font-size: 14px;

			i {
				margin-right: .5rem;
			}
		}

		&.dropdown .dropdown__right {
			margin-inline-start: .5rem;
		}

		&.dropdown .dropdown__chevron {
			width: .5rem;
		}

		.dropdown-item {
			font-size: 14px;

			i {
				margin-right: .25rem;
			}
		}

		.dropdown-label-internal {
			margin-left: .5rem;
		}
	}

	&-title {
		font-family: var(--huddle-header-title-font-family, var(--font));
		font-weight: var(--huddle-header-title-font-weight, bold);
		font-size: var(--huddle-header-title-font-size, 24px);
		margin: 0;
	}

	&-description {
		font-size: var(--huddle-header-description-font-size, 14px);
		//font-weight: normal;
		margin: 0;
	}

}

@media (max-width: 700px) {

	.huddle-chat__header {
		padding: 8px 16px;

		&-reactions,
		&-options {

			.dropdown-label-internal {
				display: none;
			}

			&.dropdown .dropdown__arrow {
				margin-inline-start: .5rem;
			}
		}

	}

}