.admin-landing {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 0 var(--admin-page-padding, #{px_to_rem(20)});

	> .admin-tile {
		width: px_to_rem(500);
		max-width: 100%;
	}
}

#react-root > .admin-landing {
	height: 100vh;
	height: 100dvh;
}
